  <% provide(:title, 'SIGN UP') %>
  <script>
    $(document).ready(function(){
      
      $('#Terms').click(function(){
        if ($('#Terms').is(':checked'))
        {
          $("#save").attr("disabled",false);
        }
        else
        {
          $("#save").attr("disabled",true);
        }
      });
      
      $('#save').click(function(){
        if ($('#Terms').is(':checked'))
        {
          return true;
        }
        else
        {
          alert('Please review and accept the terms and conditions before continuing');
          return false;
        }
      });
    })
    
    $(function() {
      $( "#user_Birthday" ).datepicker();
    });
  
    function scrolltobottom() {
      $("#Terms").attr("disabled",false);
    };
    

  </script>

<% if !@user.nil? && @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      The form contains <%= pluralize(@user.errors.count, "error") %>.
    </div>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>

  <div class="signupcolumn1">
    <p>
      <label>First Name:</label>
      <%= f.text_field :FirstName, class: "signup", size: 25, maxlength: 50, required: true, autofocus: true %>
    </p>
    <p>
      <label>Last Name:</label>
      <%= f.text_field :LastName, class: "signup", size: 25, maxlength:50, required: true %>
    </p>
    <p>
      <label>User Name:</label>
      <%= f.text_field :UserId, class: "signup", size: 25, maxlength: 50, required: true %>
    </p>
    <p>
      <label>Birthday:</label>
      <%= f.date_field :Birthday, class: "signup", require: true %>
    </p>
    <p>
      <%= f.radio_button :Sex, "Male", required: true %>Male
      <%= f.radio_button :Sex, "Female", required: true %>Female
    </p>

	
  </div>
  <div class="signupcolumn2">
    <p>
      <label>Email:</label>
      <%= f.text_field :email, class: "signup", size: 25, maxlength: 50, required: true %>
    </p>
    <p>
      <label>Password:</label>
      <%= f.password_field :password, class: "signup", size: 25, maxlength: 50, required: true %>
    </p>
    <p>
      <label>Re-enter Password:</label>
      <%= f.password_field :password_confirmation, class: "signup", size: 25, maxlength: 50, required: true %>
    </p>
  </div>
  

  <%= image_submit_tag("SignUpButton.png", alt: "Sign Up", class: "save", id: "save", disabled: true)%>
  
  <table border="0" cellpadding="0" cellspacing="0" style="border: 0; margin: 0; padding: 0; width: 100%; height: 100%;">
<tr><td id="ifmtd" style="height: 100%;">
<div><b>Terms, Conditions, Data Usage, and Cookies Usage</b></div>
</td></tr>
<tr><td id="ifmtd" style="height: 100%;">
<iframe id="ifm" frameborder="0" style="border: 0; margin: 0; padding: 0; width: 100%; height: 100%;"
src="/static_pages/terms"></iframe>
</td></tr>
</table>
    	<p class="terms">
    	    <td><input id="Terms" type="checkbox" name="Terms" value="YestoTerms" disabled="true"/>
      	    When I click "Sign Up", I agree to all Terms, Conditions, Data usage, and Cookie usage</td>	
    	</p>
<% end %>
