<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %> has invited you to <%= link_to @activity.activity_name, activity_url(@activity) %></h1>
    <p>
	<h2><%=@activity.activity_name%></h2>
    </p>
    <p>
       <%=@activity.description%>
    </p>
    <p>
      To login to the site, just follow this link: <%= link_to 'TwoNoo.com', root_url %>.
    </p>
    <p>
    <%= image_tag attachments['twonoo-logo.png'].url %>
      <h4>Meet People. Do Stuff!</h4>
    </p>
    <p>
      This message was sent to <%=@user.email%>.  If you do not want to receive these messages anymore, please update your <%= link_to 'Settings', profile_edit_path %>.
    </p>
  </body>
</html>
