<div class="container">
  <div class="row">
    <%= render('layouts/side_nav') %>

    <div class="panel col-md-8">
      <h2>
        <button href='' id='find_people' class='pull-right btn btn-sm btn-primary'>Find People
          <span id='find_people_loading' class='fa fa-refresh fa-spin'></span></button>
        People You Know
      </h2>
      <% @people.each do |p| %>
          <% if current_user != p.follower_user && !current_user.following?(p.follower_user) %>
              <div class="col-md-12 panel " style="background-color:#fff;vertical-align:middle;">

                <%= profile_img(p.follower_user) %>
                <div class="image-container">
                  <%= link_to (p.follower_user.name.titleize), profile_path(p.follower_user) %><br/>
                  <br/>

                  <div class="match-criteria-text"><span class="match-criteria"><%= p.match_criteria %></span>
                    <% if p.match_data.present? %>
                        ...<br/><span class="match-data"><%= p.match_data %></span>
                    <% end %>
                  </div>
                </div>

                <div class="im-container"
                     alink="Message"
                     recipient="<%= p.follower_user.id %>" recipient_firstname="<%= p.follower_user.profile.first_name %>" recipient_lastname="<%= p.follower_user.profile.last_name %>"
                     sender="<%= current_user.id %>" sender_firstname="<%= current_user.profile.first_name %>" sender_lastname="<%= current_user.profile.last_name %>"></div>

                <div class="follow_link" style="cursor:pointer;padding-top:0em;position:absolute;right:0px;display:inline;top:30%" user_id="<%= p.follower_user.id %>" user_name="<%= p.follower_user.name %>">
                  <a class='label label-info' style="color:#FFF;vertical-align:middle;">Follow</a></div>

              </div>
          <% end %>
      <% end %>
    </div>

  </div>
</div>

<style>


    .image-container {
        display: inline-block;
    }

    .im-container {
        width: 230px;
        z-index: 1000;
        position: absolute;
        right: 0px;
        top: 0px;
        text-align: right;
        cursor: pointer;
    }

    .match-criteria {
        color: black;
        font-size: 11px;
    }

    .match-data {
        color: #5bc0de;
        font-size: 11px;
    }

    .match-criteria-text {
        line-height: 12px;
    }
</style>

<script type='text/javascript'>
    $(function () {
        $('#find_people_loading').hide();
        $('#find_people').click(function (e) {
            e.preventDefault();

            $('#find_people_loading').show();
            $('#find_people').attr('disabled', 'disabled')

            $.ajax({
                url: '/background_jobs/',
                type: 'POST',
                dataType: 'JSON',
                error: function (data) {
                    $('#find_people_loading').hide();
                    $('#find_people').removeAttr('disabled')
                }
            });

        })
    })
</script>
