<% prevuserid = nil %>
<% lastmessageid= nil %>
<% firstmessageid= nil %>
<% messagecount = 0 %>
<% oldestunreadmessages = conversation.receipts_for(current_user).where(is_read: false).order("id ASC").first
   oldestid = (oldestunreadmessages.nil?)?nil:oldestunreadmessages.id
   messagecount = conversation.receipts_for(current_user).where('mailboxer_receipts.id >= ?', oldestid).count
  
  conversation.receipts_for(current_user).order("id DESC").first(((20>messagecount)?20:messagecount)).each do |receipt| %>
  <%
    message = receipt.message
    userid = message.sender.id
    firstmessageid = receipt.id if firstmessageid.nil? || receipt.id < firstmessageid
    messagecount = messagecount + 1
  %>
  <div class="row" style="background-color:#EEEEEE;padding-top:0px;padding-bottom:0px;margin-top:0px;border-bottom-style:solid;border-bottom-width:thin;border-bottom-color:#DDDDDD;
    <%=(current_user != message.sender)?'color:#1111FF;':''%>
    ">
    <div class="col-xs-3" style="background-color:#EEEEEE;">
      <b><%= message.sender.profile.first_name %>
            <% if message.created_at < (Time.now - 1.day) %>
              <span style="font-size:50%;">(<%=message.created_at.strftime("%m/%d")%>)</span>
            <% else %>
              <span style="font-size:50%;">(<%=message.created_at.strftime("%l:%M %P")%>)</span>
            <% end %>
      </b>
    </div>
    <div class="col-xs-9" style="background-color:#FFFFFF">
      <% unless message.is_read?(current_user) %><b><% end %>
        <%= message.body %>
      <% unless message.is_read?(current_user) %></b><% end %>
    </div>
  </div>
  <%
    if lastmessageid.nil? || (receipt.id > lastmessageid)
      prevuserid = message.sender.id
      lastmessageid = receipt.id
    end
    message.mark_as_read(current_user)
  %>
<% end %>

<script>
  $('#first_id_shown').val(<%=firstmessageid%>)
  $('#last_id_shown').val(<%=lastmessageid%>)
  $('#last_user_shown').val(<%=prevuserid%>)
  <% if messagecount < 20 %> $('#earlier_messages').html('No More Messages To Load') <% end %>
</script>
