<% prevuserid = nil %>
<% lastmessageid= nil %>
<% firstmessageid= nil %>
<% messagecount = 0 %>
<% conversation.receipts_for(current_user).last(20).each do |receipt| %>
  <%
    message = receipt.message
    userid = message.sender.id
    firstmessageid = receipt.id if firstmessageid.nil?
    messagecount = messagecount + 1
  %>
  <% if userid != prevuserid %>
    <p>
    <b><%= message.sender.profile.first_name %>:</b><br/>
  <% end %>
  <% unless message.is_read?(current_user) %><b><% end %>
  <p>
    <font size="1">(<%=message.created_at.strftime("%m/%d/%y %l:%M %P")%>)</font>
    <%= message.body %>
  </p>
  <% unless message.is_read?(current_user) %></b><% end %>
  <% prevuserid = message.sender.id
    lastmessageid = receipt.id
    message.mark_as_read(current_user)
  %>
<% end %>

<script>
  $('#first_id_shown').val(<%=firstmessageid%>)
  $('#last_id_shown').val(<%=lastmessageid%>)
  $('#last_user_shown').val(<%=prevuserid%>)
  <% if messagecount < 20 %> $('#earlier_messages').html('No More Messages To Load') <% end %>
</script>
