<%
   firstmessageid = params[:first_id_shown]
   messagecount = 0
   num_messages = 20
   oldestid = 0

   unless (firstmessageid.present?)
     oldestunreadmessages = conversation.receipts_for(current_user).where(is_read: false).order("id ASC").first
     unless oldestunreadmessages.nil?
       oldestid = oldestunreadmessages.id
       num_messages = conversation.receipts_for(current_user).where('mailboxer_receipts.id >= ?', oldestid).count
     end
   end

   where = (firstmessageid.present?) ? "mailboxer_receipts.id < #{firstmessageid}":"mailboxer_receipts.id >= 0"
%>
  
<% conversation.receipts_for(current_user).where(where).order("id DESC").first(((20>num_messages)?20:num_messages)).each do |receipt| %>
  <%
    message = receipt.message
    messagecount = messagecount + 1
  %>
  <div class="row" style="background-color:#EEEEEE;padding-top:0px;padding-bottom:0px;margin-top:0px;border-bottom-style:solid;border-bottom-width:thin;border-bottom-color:#DDDDDD;
    <%=(current_user != message.sender)?'color:#1111FF;':''%>" receipt_id="<%=receipt.id%>">
    <div class="col-xs-3" style="background-color:#EEEEEE;">
      <b><%= message.sender.profile.first_name %>
            <% if message.created_at < (Time.now - 1.day) %>
              <span style="font-size:50%;">(<%=message.created_at.strftime("%m/%d")%>)</span>
            <% else %>
              <span style="font-size:50%;">(<%=message.created_at.strftime("%l:%M %P")%>)</span>
            <% end %>
      </b>
    </div>
    <div class="col-xs-9" style="background-color:#FFFFFF">
      <% unless message.is_read?(current_user) %><b><% end %>
        <%= message.body %>
      <% unless message.is_read?(current_user) %></b><% end %>
    </div>
  </div>
  <%
    message.mark_as_read(current_user)
  %>
<% end %>

<script>
  <% if messagecount < 20 %> $('#earlier_messages').html('No More Messages To Load') <% end %>
</script>
