<% prevuserid = nil %>
<% lastmessageid= nil %>
<% firstmessageid= nil %>
<% messagecount = 0 %>
<% conversation.receipts_for(current_user).order("id DESC").first(20).each do |receipt| %>
  <%
    message = receipt.message
    userid = message.sender.id
    firstmessageid = receipt.id if firstmessageid.nil? || receipt.id < firstmessageid
    messagecount = messagecount + 1
  %>
    <% unless message.sender = current_user %>
      <div class="col-md-4">
        <b><%= message.sender.profile.first_name %>
        <sub>(<%=message.created_at.strftime("%m/%d/%y %l:%M %P")%>)</sub>
        :</b>
      </div>
    <% end %>
    <div class="col-md-8 text-right" style="overflow-x:auto">
      <% unless message.is_read?(current_user) %><b><% end %>
        <%= message.body %>
      <% unless message.is_read?(current_user) %></b><% end %>
    </div>
    <% if message.sender = current_user %>
      <div class="col-md-4">
        <b>:<%= message.sender.profile.first_name %>
        <font size="1">(<%=message.created_at.strftime("%m/%d/%y %l:%M %P")%>)</font>
        </b>
      </div>
    <% end %>
  <%
    if lastmessageid.nil? || (receipt.id > lastmessageid)
      prevuserid = message.sender.id
      lastmessageid = receipt.id
    end
    message.mark_as_read(current_user)
  %>
<% end %>

<script>
  $('#first_id_shown').val(<%=firstmessageid%>)
  $('#last_id_shown').val(<%=lastmessageid%>)
  $('#last_user_shown').val(<%=prevuserid%>)
  <% if messagecount < 20 %> $('#earlier_messages').html('No More Messages To Load') <% end %>
</script>
