<%= text_area_tag :body, nil, rows: "2", class: 'body' %>
<a id="send_message" class="btn btn-success btn-sm send_message" 
  recipient="<%=recipient.id%>" sender="<%=current_user.id%>"
  recipient_name="<%=recipient.profile.first_name%>" sender_name="<%=current_user.profile.first_name%>"
>Send Message</a>

