<style>
#chatbox_header {
  background-color:#4DBFF5;
  color:#FFFFFF;
  padding: 0px;
  margin: 0px;
  text-align: center;
}

#conversation {
  font-size: 80%;
  padding: 0px;
  margin: 0px;
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

#messages {
  padding: 0px;
  margin: 0px;
  z-index: 1001;
  background: #EEE;
  }

#body {
  font-size: 80%;
  width: 100%;
  resize: vertical;
}

</style>
<div id="messages" class="col-md-12 messages">
  <%= hidden_field_tag "first_id_shown" %>
  <%= hidden_field_tag "last_id_shown" %>
  <%= hidden_field_tag "last_user_shown" %>

  <div id="chatbox_header">
    <p><%=recipient.name%></p>
    <div style="clear:both"></div>
  </div>

  <div id='conversation' class="col-md-12 conversation">
  </div>

  <%= text_area_tag :body, nil, rows: "2", class: 'body' %>
  <a id="send_message" class="btn btn-success btn-sm send_message" 
    recipient="<%=recipient.id%>" sender="<%=current_user.id%>"
    recipient_name="<%=recipient.profile.first_name%>" sender_name="<%=current_user.profile.first_name%>"
  >Send Message</a>
</div>
