<%
  prevuserid = nil
  lastmessageid = params[:last_id_shown]
  firstmessageid = params[:first_id_shown]
  messagecount = 0
%>

<% conversation.receipts_for(current_user).where("mailboxer_receipts.id < #{firstmessageid}").order("id DESC").first(20).each do |receipt| %>
  <%
    message = receipt.message
    userid = message.sender.id.to_s
    messagecount = messagecount + 1
  %>
  <div class="row" style="padding-top:0px;padding-bottom:0px;margin-top:0px;">
    <div class="col-xs-3 text-right">
      <b><%= message.sender.profile.first_name %>
            <% if message.created_at < (Time.now - 1.day) %>
              <span style="font-size:50%;">(<%=message.created_at.strftime("%m/%d")%>)</span>
            <% else %>
              <span style="font-size:50%;">(<%=message.created_at.strftime("%l:%M %P")%>)</span>
            <% end %>
      :</b>
    </div>
    <div class="col-xs-9">
      <% unless message.is_read?(current_user) %><b><% end %>
        <%= message.body %>
      <% unless message.is_read?(current_user) %></b><% end %>
    </div>
  </div>
  <%
    if receipt.id < firstmessageid.to_i
      prevuserid = message.sender.id.to_s
      firstmessageid = receipt.id 
    end
    message.mark_as_read(current_user)
  %>
<% end %>

<script>
  $('#first_id_shown').val('<%=firstmessageid%>');
  <% if messagecount < 20 %> $('#earlier_messages').html('No More Messages To Load') <% end %>
</script>
