<%
  prevuserid = nil
  lastmessageid = params[:last_id_shown]
  firstmessageid = params[:first_id_shown]
  messagecount = 0
%>

<% conversation.receipts_for(current_user).where("mailboxer_receipts.id < #{firstmessageid}").order("id DESC").first(20).each do |receipt| %>
  <%
    message = receipt.message
    userid = message.sender.id.to_s
    messagecount = messagecount + 1
  %>
    <% unless message.sender = current_user %>
      <div class="col-md-4">
        <b><%= message.sender.profile.first_name %>
        <sub>(<%=message.created_at.strftime("%m/%d/%y %l:%M %P")%>)</sub>
        :</b>
      </div>
    <% end %>
    <div class="col-md-8 text-right" style="overflow-x:auto">
      <% unless message.is_read?(current_user) %><b><% end %>
        <%= message.body %>
      <% unless message.is_read?(current_user) %></b><% end %>
    </div>
    <% if message.sender = current_user %>
      <div class="col-md-4">
        <b>:<%= message.sender.profile.first_name %>
        <font size="1">(<%=message.created_at.strftime("%m/%d/%y %l:%M %P")%>)</font>
        </b>
      </div>
    <% end %>
  <%
    if receipt.id < firstmessageid.to_i
      prevuserid = message.sender.id.to_s
      firstmessageid = receipt.id 
    end
    message.mark_as_read(current_user)
  %>
<% end %>

<script>
  $('#first_id_shown').val('<%=firstmessageid%>');
  <% if messagecount < 20 %> $('#earlier_messages').html('No More Messages To Load') <% end %>
</script>
