<%
  prevuserid = params[:last_user_shown]
  lastmessageid = nil
  if params[:last_id_shown].present?
    lastmessageid = params[:last_id_shown]
  else
    lastmessageid = conversation.receipts_for(current_user).last.id - 1
  end

%>

<% conversation.receipts_for(current_user).where("mailboxer_receipts.id > #{lastmessageid}").order("id DESC").each do |receipt| %>
  <%
    message = receipt.message
    userid = message.sender.id.to_s
  %>
  <div class="row" style="padding-top:0px;padding-bottom:0px;margin-top:0px;">
    <div class="col-xs-3 text-right" style="overflow:hidden;white-space: nowrap;">
      <b><%= message.sender.profile.first_name %>
            <% if message.created_at < (Time.now - 1.day) %>
              <span style="font-size:50%;display:inline;">(<%=message.created_at.strftime("%m/%d")%>)</span>
            <% else %>
              <div style="font-size:50%;display:inline;">(<%=message.created_at.strftime("%l:%M %P")%>)</div>
            <% end %></b>
    </div>
    <div class="col-xs-9">
      <% unless message.is_read?(current_user) %><b><% end %>
        <%= message.body %>
      <% unless message.is_read?(current_user) %></b><% end %>
    </div>
  </div>
  <%
    if (receipt.id > lastmessageid.to_i)
      prevuserid = message.sender.id.to_s
      lastmessageid = receipt.id
    end
    message.mark_as_read(current_user)
  %>
<% end %>

<script>
  $('#last_id_shown').val(<%=lastmessageid%>)
  $('#last_user_shown').val(<%=prevuserid%>)
</script>
