<%
  prevuserid = params[:last_user_shown]
  lastmessageid = params[:last_id_shown]
%>

<% conversation.receipts_for(current_user).where("mailboxer_receipts.id > #{lastmessageid}").each do |receipt| %>
  <%
    message = receipt.message
    userid = message.sender.id.to_s
  %>
  <% if userid != prevuserid %>
    <p>
    <b><%= message.sender.profile.first_name %>:</b><br/>
  <% end %>
  <% unless message.is_read?(current_user) %><b><% end %>
  <p>
    <font size="1">(<%=message.created_at.strftime("%m/%d/%y %l:%M %P")%>)</font>
    <%= message.body %>
  </p>
  <% unless message.is_read?(current_user) %></b><% end %>
  <% prevuserid = message.sender.id.to_s
    lastmessageid = receipt.id
    message.mark_as_read(current_user)
  %>
<% end %>

<script>
  $('#last_id_shown').val(<%=lastmessageid%>)
  $('#last_user_shown').val(<%=prevuserid%>)

  <% unless lastmessageid == params[:last_id_shown] %>
    $("#messages").animate({scrollTop: $("#messages").prop('scrollHeight')}, 3000);
  <% end %>
</script>
