<%
  lastmessageid = nil
  bStartRefresh = false
  bSendstuff = false

  if params[:last_id_shown].present?
    lastmessageid = params[:last_id_shown]
  else
    lastmessageid = conversation.receipts_for(current_user).last.id - 1
    bStartRefresh = true
  end

  orderBy = "id DESC"
  if params[:orderBy].present?
    orderBy = params[:orderBy]
  end

%>

<% conversation.receipts_for(current_user).where("mailboxer_receipts.id > #{lastmessageid}").order(orderBy).each do |receipt| %>
  <%
    message = receipt.message
    userid = message.sender.id.to_s
    bSendstuff = true
  %>
  <div class="row" style="background-color:#EEEEEE;padding-top:0px;padding-bottom:0px;margin-top:0px;border-bottom-style:solid;border-bottom-width:thin;border-bottom-color:#DDDDDD;
  <%=(current_user != message.sender)?'color:#1111FF;':''%>
  " messageId="<%=receipt.id%>" conversationId="<%=conversation.id%>">
    <div class="col-xs-3" style="overflow:hidden;white-space: nowrap;">
      <b><%= message.sender.profile.first_name %>
            <% if message.created_at < (Time.now - 1.day) %>
              <span style="font-size:50%;display:inline;">(<%=message.created_at.strftime("%m/%d")%>)</span>
            <% else %>
              <div style="font-size:50%;display:inline;">(<%=message.created_at.strftime("%l:%M %P")%>)</div>
            <% end %></b>
    </div>
    <div class="col-xs-9" style="background-color:#FFFFFF">
      <%= message.body %>
    </div>
  </div>
  <%
    if (receipt.id > lastmessageid.to_i)
      lastmessageid = receipt.id
    end
    message.mark_as_read(current_user)
  %>
<% end %>

<% if bSendstuff %>
<script>
  $('#last_id_shown').val(<%=lastmessageid%>)

  <% if bStartRefresh %>
  var conversation_id = <%=(conversation.nil?)?0:conversation.id.to_s%>;
  var interval = 5000;   //number of mili seconds between each call

  <% if !(conversation.nil?) then %>
    $('#conversation_<%=conversation.id.to_s%>').css('font-weight', 'bold');
  <% end %>

  function refresh() {
    $.ajax({
      type: "POST",
      url: "<%=show_messages_path(conversation.id)%>",
      cache: false,
      data: { last_id_shown: $('#last_id_shown').val()
      },
      success: function(html) {
        $('#conversation').append(html);

        setTimeout(function() {
          refresh();
        }, interval);
      }
    });
  }

  $(function(){

    setTimeout(function() {
      refresh();
    }, interval);
  });
  <% end %>
</script>
<% end %>
