<%
  recipient = (conversation.originator == current_user) ? recipient = conversation.recipients[0] : conversation.originator
%>
<div class="cim-container"
  recipient="<%=recipient.id%>" recipient_firstname="<%=recipient.profile.first_name%>" recipient_lastname="<%= ProfileDecorator.new(recipient.profile).last_initial %>"
  sender="<%=current_user.id%>" sender_firstname="<%=current_user.profile.first_name%>" sender_lastname="<%= ProfileDecorator.new(current_user.profile).last_initial %>"
></div>
<hr>
<h3 class="text-center"><%=recipient.name%> </h3>
<div id="messages" class="col-md-12">
  <div id='conversation' class="col-md-12">
    <%= render :partial => 'conversation', :locals => { :conversation => conversation } %>
  </div>
  <div style="text-align:center;" class="col-md-10"><a href='#' id="earlier_messages">Load Earlier Messages</a></div>
</div>

<script>
  $(function(){
    $('#earlier_messages').bind('click', function(){
        loadEarlierMessages();
    });

  });

  function loadEarlierMessages() {
    $.ajax({
      type: "POST",
      url: "<%=load_earlier_messages_path(conversation.id)%>",
      data: { first_id_shown: $('#conversation > div:last').attr('receipt_id') },
      success: function(html) {
        $('#conversation').append(html);
      }
     });
  }

  var conversation_id = <%=(conversation.nil?)?0:conversation.id.to_s%>;
  <% if !(conversation.nil?) then %>
    $('#conversation_<%=conversation.id.to_s%>').css('font-weight', 'bold');
  <% end %>
</script>
