<div class="container" style="margin-top:35px">
  <div class="col-md-4">
  <h2>Conversations</h2>
  <ul><%= render collection: mailbox.conversations(:mailbox_type => 'not_trash'), partial: 'conversations'%></ul>
  </div>
  <div id="display_conversation" class="col-md-8">
    <% if params[:id].nil? then %>
      <% conversation = mailbox.conversations(:mailbox_type => 'not_trash').first %>
    <% else %>
      <% conversation = mailbox.conversations.find(params[:id]) %>
    <% end %>
    <% if !(conversation.nil?) then %>
      <%= render locals: {:conversation => conversation}, partial: 'show' %>
    <% end %>
  </div>
</div>

<script>
  var conversation_id = <%=(conversation.nil?)?0:conversation.id.to_s%>;
  var interval = 5000;   //number of mili seconds between each call

  <% if !(conversation.nil?) then %>
    $('#conversation_<%=conversation.id.to_s%>').css('font-weight', 'bold');
  <% end %>

  function refresh() {
    $.ajax({
      type: "POST",
      url: "<%=show_messages_path(conversation.id)%>",
      cache: false,
      data: { last_id_shown: $('#last_id_shown').val(),
              last_user_shown: $('#last_user_shown').val()
      },
      success: function(html) {
        $('#conversation').append(html);

        setTimeout(function() {
          refresh();
        }, interval);
      }
    });
  }

  $(function(){
    $("#messages").animate({scrollTop: $("#messages").prop('scrollHeight')}, 3000);

    setTimeout(function() {
      refresh();
    }, interval);
  });
</script>
