<div class="container">
<h1>Talking To: 
<% if conversation.originator == current_user%>
  <%= conversation.recipients[0].profile.first_name %> <%=conversation.recipients[0].profile.last_name%>
<% else %>
  <%= conversation.originator.profile.first_name %> <%=conversation.originator.profile.last_name%>
<% end %>
</h1>
  <% prevuserid = nil %>
  <% conversation.receipts_for(current_user).each do |receipt| %>
    <% 
      receipt.mark_as_read()
      message = receipt.message
      userid = message.sender.id
    %>
    <% if userid != prevuserid %>
      <p>
      <b><%= message.sender.profile.first_name %>:</b><br/>
    <% end %>
    <%= message.body %><br/>
    <% prevuserid = message.sender.id %>
  <% end %>
<%= render 'messages/form', conversation: conversation %>
</div>
