<div class="container">
<h1>Talking To: 
<% if conversation.originator == current_user%>
  <%= conversation.recipients[0].profile.first_name %> <%=conversation.recipients[0].profile.last_name%>
<% else %>
  <%= conversation.originator.profile.first_name %> <%=conversation.originator.profile.last_name%>
<% end %>
</h1>
<div id='conversation'>
  <%= render :partial => 'conversation', :locals => { :conversation => conversation } %>
</div>
<%= render 'messages/form', conversation: conversation %>
</div>
<script>
  $(function(){
    var interval = 5000;   //number of mili seconds between each call
    var refresh = function() {
      $.ajax({
        url: "/conversations/show_messages/<%=conversation.id%>",
        datatype: 'script',
        cache: false,
        success: function(html) {
          $('#conversation').html(html);
          setTimeout(function() {
            refresh();
          }, interval);
        }
      });
    };

    setTimeout(function() {
      refresh();
    }, interval);
  });
</script>
