<td>
    <% unless profilePhoto.nil? %>
      <% if profilePhoto.MainPhoto %>
        <%= image_tag("profile/" + profilePhoto.PhotoId, alt: "MyPhotoPrimary", class: "MyPhotoPrimary", id: "MyPhotoPrimary")%>
      <% else %>
        <%= image_tag("profile/" + profilePhoto.PhotoId, alt: "MyPhoto", class: "MyPhoto", id: "MyPhoto")%>
      <%end%>
      <p>
        <%= form_tag({controller: "users", action: "profilePictureUpdate"}, id: "frm_"+profilePhoto.id.to_s()) do %>
          <%= hidden_field_tag "PhotoId", profilePhoto.id %>
          <%= hidden_field_tag "todo", "delete", id: "todo" %>
          <%= button_tag "Delete", id: "delete_"+profilePhoto.id.to_s() %>
          <%= button_tag "Primary Photo", id: "primary_"+profilePhoto.id.to_s() %>
          <script>
            $('#delete_<%=profilePhoto.id%>').click(function(){
              
            });
            
            $('#primary_<%=profilePhoto.id%>').click(function(){
              $('#frm_<%=profilePhoto.id%> input[id=todo]').attr('value', 'primary');
            });
          </script>
        <% end %>
      </p>

    <% end %>
</td>