<% provide(:title, "MY STUFF" )%>
<div id="mystuffnav">
  <ul>
    <li class="mystuffnav"><%= link_to "DASHBOARD", "/dashboard/"+current_user.id.to_s, class: "selected" %></li>
    <li class="mystuffnav"><%= link_to "PROFILE", current_user %></li>
    <li class="mystuffnav"><%= link_to "SETTINGS", "/settings/"+current_user.id.to_s %></li>
    <li class="mystuffnav"><%= link_to "MESSAGES", "/messages/"+current_user.id.to_s %></li>
  </ul>
</div>
<div class="MyStuffBottom">
  <div class="HeaderDashboard">My Activities (<%=@activities.nil? ? 0 : @activities.size %>)</div>
  <table>
    <%= render partial: "myActivity", collection: @activities %> 
  </table>
</div>
<div class="MyStuffBottom">
  <div class="HeaderDashboard">I'm Following (<%= @followings.nil? ? 0 : @followings.size%>)</div>
  <table>
    <%= render partial: "following", collection: @followings %>
  </table>
</div>
<div class="MyStuffBottom">
  <div class="HeaderDashboard">Following Me (<%=@followingMe.nil? ? 0 : @followingMes.size%>)</div>
  <table>
    <%= render partial: "followingMe", collection: @followingMes %>
  </table>
</div>
