<% provide(:title, 'SIGN UP') %>
  <script>
  $(function() {
    $( "#user_Birthday" ).datepicker();
  });
  
  </script>
 
<script>

function scrolltobottom() {

	$(".Acknowledged").attr("disabled",false);

}

</script>

<script>

function disclaimer() {

	$(".AcknowledgedOuterDiv").scroll(function(){
	
		var outerDiv = $(this);
		var innerDiv = $(">.AcknowledgedInnerDiv", $(this));
		var ScrollSign = 1;
		if (outerDiv.offset().top < innerDiv.outerHeight()) {
		
			ScrollSign = -1;
		
		}
	
		if (Math.round((ScrollSign * innerDiv.offset().top) + outerDiv.offset().top) >= innerDiv.outerHeight() && innerDiv.offset().top != 0) {
		
			$(".AcknowledgedCheckBox input").attr("disabled", false);
		
		}
		
	});

}

</script>

<% if !@user.nil? && @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      The form contains <%= pluralize(@user.errors.count, "error") %>.
    </div>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@user) do |f| %>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>

  <div class="signupcolumn1">
    <p>
      <label>First Name:</label>
      <%= f.text_field :FirstName, class: "signup", size: 25, maxlength: 50, required: true, autofocus: true %>
    </p>
    <p>
      <label>Last Name:</label>
      <%= f.text_field :LastName, class: "signup", size: 25, maxlength:50, required: true %>
    </p>
    <p>
      <label>User Name:</label>
      <%= f.text_field :UserId, class: "signup", size: 25, maxlength: 50, required: true %>
    </p>
    <p>
      <label>Birthday:</label>
      <%= f.date_field :Birthday, class: "signup", require: true %>
    </p>
    <p>
      <%= f.radio_button :Sex, "Male", required: true %>Male
      <%= f.radio_button :Sex, "Female", required: true %>Female
    </p>

<div id="AcknowledgedOuterDiv" onclick='enableCheckboxes();'>
	<div id="AcknowledgedInnerDiv" style="height:200px;overflow:scroll">
		Legal text starts here <BR><BR><BR>
		<BR><BR><BR><BR><BR><BR><BR><BR><BR>
		<BR><BR><BR><BR><BR><BR><BR><BR><BR>
		<BR><BR><BR><BR><BR><BR><BR><BR><BR>
		<BR><BR><BR><BR><BR><BR><BR><BR><BR>
		Legal text ends here
	</div>
</div>
	
	<span class="AcknowledgedCheckbox">
		<input disabled id="Acknowledged" type="Checkbox" onclick="scrolltobottom()">
		<label for="Acknowledged">* I have read and agree to the terms outlined above.</label>
	</span>
	
  </div>
  <div class="signupcolumn2">
    <p>
      <label>Email:</label>
      <%= f.text_field :Email, class: "signup", size: 25, maxlength: 50, required: true %>
    </p>
    <p>
      <label>Password:</label>
      <%= f.password_field :password, class: "signup", size: 25, maxlength: 50, required: true %>
    </p>
    <p>
      <label>Re-enter Password:</label>
      <%= f.password_field :password_confirmation, class: "signup", size: 25, maxlength: 50, required: true %>
    </p>
  </div>
  

  <%= image_submit_tag("SignUpButton.png", alt: "Sign Up", class: "save", id: "save")%>
<% end %>
