<% provide(:title, "USER INFO" )%>
<%= render 'shared/error_messages' %>
<div id="MyStuffUser">
  <div class="MyStuffTopcolumn1">
    <p>
      <label>First Name:</label>
      <%= @user.FirstName %>
    </p>
    <p>
      <label>Last Name:</label>
      <%= @user.LastName %>
    </p>
    <p>
      <label>User Name:</label>
      <%= @user.UserId %>
    </p>
    <p>
      <label>Birthday:</label>
      <%= @user.Birthday %>
    </p>
    <p>
      <%= @user.Sex %>
    </p>	
  </div>
  <div class="MyStuffTopcolumn2">
    <p>
      <label>Email:</label>
      <%= @user.Email %>
    </p>
  </div>
  <p>
    <label>About me:</label>
    <%= text_area @user.AboutMe, class: "signup", cols: 80, rows: 4 , readonly: true %>
  </p>
</div>
<div class="MyStuffBottom">
  <b>&nbsp;&nbsp;My Activities (only if you allow it)</b>
  <table>
    <tr>
      <td class="MyStuff"><a href="TwoNoo-ActivityDetails.html" class="searchlink"><div class="eachactivity">
      <div class="activityname">Trivia Tuesdays</div>
      <div>Tuesday, July 9 @ Billy's Bar</div>
      </div></td></a>
    </tr>
    <tr>
      <td class="MyStuff"><a href="TwoNoo-ActivityDetails.html" class="searchlink"><div class="eachactivity">
      <div class="activityname">Libertarians of Denver Monthly Meeting</div>
      <div>Wednesday, July 10 @ St. Mark's Coffee Shop</div>
      </div></td></a>
    </tr>
            <tr>
      <td class="MyStuff"><a href="TwoNoo-ActivityDetails.html" class="searchlink"><div class="eachactivity">
      <div class="activityname">Trivia Tuesdays</div>
      <div>Tuesday, July 9 @ Billy's Bar</div>
      </div></td></a>
    </tr>
    <tr>
      <td class="MyStuff"><a href="TwoNoo-ActivityDetails.html" class="searchlink"><div class="eachactivity">
      <div class="activityname">Libertarians of Denver Monthly Meeting</div>
      <div>Wednesday, July 10 @ St. Mark's Coffee Shop</div>
      </div></td></a>
    </tr>
            <tr>
      <td class="MyStuff"><a href="TwoNoo-ActivityDetails.html" class="searchlink"><div class="eachactivity">
      <div class="activityname">Trivia Tuesdays</div>
      <div>Tuesday, July 9 @ Billy's Bar</div>
      </div></td></a>
    </tr>
    <tr>
      <td class="MyStuff"><a href="TwoNoo-ActivityDetails.html" class="searchlink"><div class="eachactivity">
      <div class="activityname">Libertarians of Denver Monthly Meeting</div>
      <div>Wednesday, July 10 @ St. Mark's Coffee Shop</div>
      </div></td></a>
    </tr>
  </table>
</div>
<div class="MyStuffBottom">
  <b>&nbsp;&nbsp;People I'm Following (only if if you allow others to see)</b>
  <table>
    <tr>
      <td class="MyStuff"><a href="TwoNoo-ActivityDetails.html" class="searchlink">
      <div class="following">
        <div class="activityname">Michael Jackson</div>
        <img class="FollowingPhoto" src="images/ActivityImage2.jpg">
      </div></a>
      </td>
    </tr>
    <tr>
      <td class="MyStuff"><a href="TwoNoo-ActivityDetails.html" class="searchlink">
      <div class="following">
        <div class="activityname">Frank Underwood</div>
        <img class="FollowingPhoto" src="images/ActivityImage1.jpg">
      </div></a>
      </td>
    </tr>
  </table>
</div>
<div class="MyStuffBottom">
  <b>&nbsp;&nbsp;People Following Me (only if you allow others to see)</b>
  <table>
    <tr>
      <td class="MyStuff"><a href="TwoNoo-ActivityDetails.html" class="searchlink">
      <div class="following">
        <div class="activityname">Michael Jackson</div>
        <img class="FollowingPhoto" src="images/ActivityImage2.jpg">
      </div></a>
      </td>
    </tr>
    <tr>
      <td class="MyStuff"><a href="TwoNoo-ActivityDetails.html" class="searchlink">
      <div class="following">
        <div class="activityname">Frank Underwood</div>
        <img class="FollowingPhoto" src="images/ActivityImage1.jpg">
      </div></a>
      </td>
    </tr>
  </table>
</div>