<% provide(:title, "MY STUFF" )%>
<div id="mystuffnav">
  <ul>
    <li class="mystuffnav"><%= link_to "DASHBOARD", "/dashboard/"+current_user.id.to_s %></li>
    <li class="mystuffnav"><%= link_to "PROFILE", current_user, class: "selected" %></li>
    <li class="mystuffnav"><%= link_to "SETTINGS", "/settings/"+current_user.id.to_s %></li>
    <li class="mystuffnav"><%= link_to "MESSAGES", "/messages/"+current_user.id.to_s %></li>
  </ul>
</div>

<%= render 'shared/error_messages' %>
<div id="MyStuffUser">
  <%= form_for(@user, :html => { :multipart => true } ) do |f|%>
    <div class="MyStuffTopcolumn1">
      <p>
        <label>First Name:</label>
        <%= f.text_field :FirstName, class: "signup", size: 25, maxlength: 50, required: true%>
      </p>
      <p>
        <label>Last Name:</label>
        <%= f.text_field :LastName, class: "signup", size: 25, maxlength:50, required: true %>
      </p>
      <p>
        <label>User Name:</label>
        <%= f.text_field :UserId, class: "signup", size: 25, maxlength: 50, readonly: true, value: @user.UserId.upcase %>
      </p>
      <p>
        <label>Birthday:</label>
        <%= f.date_field :Birthday, class: "signup", require: true, value: (@user.Birthday.nil?) ? nil : @user.Birthday.to_date %>
      </p>
      <p>
        <%= f.radio_button :Sex, "Male", required: true %>Male
        <%= f.radio_button :Sex, "Female", required: true %>Female
      </p>	
    </div>
    <div class="MyStuffTopcolumn2">
      <p>
        <label>Email:</label>
        <%= f.text_field :email, class: "signup", size: 25, maxlength: 50, required: true %>
      </p>
      <fieldset>
        <legend>Change password</legend>
        <label>Password:</label>
        <input class="signup" type="password" name="orig_password" size="25" maxlength="50"/>
        <p>
          <label>New Password:</label>
          <%= f.password_field :password, class: "signup", size: 25, maxlength: 50 %>
        </p>
        <p>
          <label>Re-enter New Password:</label>
          <%= f.password_field :password_confirmation, class: "signup", size: 25, maxlength: 50 %>
        </p>
      </fieldset>
    </div>
    <p>
      <label>About me:</label>
      <%= f.text_area :AboutMe, class: "signup", cols: 80, rows: 4 %>
      <%= image_submit_tag("SaveButton.png", alt: "Save", class: "save", id: "save")%>
    </p>
  <% end %> 
  <% unless (!(@profilePhotos.nil?) && @profilePhotos.size >= 6) %>
    <%= form_tag({controller: "users", action: "profilePictureUpload"}, {:remote => true, :multipart => true, :authenticity_token => true }) do %>
      <label>Upload Photo:</label>
        <%= file_field 'profilePicture', :picture %>
        <%= submit_tag "Upload" %>
    <% end %>
  <%end%>
  <div style="width:900px;overflow:auto;">
    <table>
      <tr>
        <%= render partial: "profilePhoto", collection: @profilePhotos %>
      </tr>
    </table>
 </div>
</div>
