<div class="alert alert-warning fade in" style="display:none" id="loginToLike">
  <button class="close" data-dismiss="" id="closeNeedLogInAlert">x</button>
  You need to sign in or sign up to perform that action.
</div>

<div style="background-color: #f2f2f2; margin-top:-10px">
  <div class="container clearfix" style="padding:0">
    <div style='float:right; font-size:16px;'>Trending events & activities:</div>
    <div class="row">
      <div>
        <% @trending.flatten.each do |t| %>
            
              <div class="col-sm-3 trending-card-container">
                <a href="<%= activity_path(t.id) %>">
                <div style="background: rgba(0,0,0,0.5) url('<%= t.image.url(:trending) %>') no-repeat left top; background-size: cover" class="trending-card">
                  <div class="trending-title-container">
                    <span class="trending-title"><%= truncate(t.activity_name, :length => 31, separator: ' ') %></span>
                  </div>
                </div>
                </a>
                <div class="trending-card-details">
                  <div class="pull-left">
                    <p class="trending-date"><%= t.datetime.strftime('%^b %e') %></p>
                    <p class="trending-location"><%= t.city %>, <%= t.state %></p>
                  </div>
                  <div class="pull-right" style="margin-right:5px; margin-top:10px;">
                    <span class="trending-rsvps"><%= t.rsvp_count %>
                      <span class="glyphicon glyphicon-user"></span>
                    </span>
                    <span class="trending-rsvps pull-right"><%= like_button(t.id) %></span>
                  </div>
                  
                </div>
              </div>
            
        <% end %>
      </div>
    </div>
    <div class="col-sm-12" style="text-align:center">
      <%= link_to "More", search_path, class: 'btn btn-default btn-sm', style: 'background-color:#FE0075;width:200px;margin-bottom:15px' %>
    </div>
  </div>
</div>

<script>
  $(function(){
      $('#closeNeedLogInAlert').click(function(){
          $('#loginToLike').hide();
      })
  })
</script>