<div style="background-color: #f2f2f2; margin-top:-10px">
  <div class="container clearfix" style="padding:0">
    <div class="row" >
      <div>  
      <% @trending.each do |t| %>
        <a href="<%= activity_path(t.id) %>">
          <div class="col-sm-3 trending-card-container">
            <div style="background: rgba(0,0,0,0.5) url('<%= t.image.url(:trending) %>') no-repeat left top; background-size: cover" class="trending-card">
              <div class="trending-title-container">
                <span class="trending-title"><%= truncate(t.activity_name, :length => 31, separator: ' ') %></span>
              </div>
            </div>
            <div class="trending-card-details">
              <p class="trending-date"><%= t.datetime.strftime('%^b %e') %></p>
              <p class="trending-location"><%= t.city %>, <%= t.state %></p>
              <p class="trending-rsvps pull-right"><%= t.rsvp_count %> <span class="glyphicon glyphicon-user"></span></p>
            </div>
          </div>
        </a>
      <% end %>
      </div>
    </div>
  </div>
</div>