  <div class="vegas"></div>
  <div class="container">
    <div class="row">
      <div class=" center-block" style="margin-top:15%; text-align:center;">
        <div>
          <span class="headline">MEET.</span>
          <span class="headline">EXPLORE.</span>
          <span class="headline">LIVE!</span>
        </div>
        <div class="form-inline col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2" style='text-align:center; padding:5%;'>
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" placeholder="Email Address">
                <span class="input-group-btn"><button class="btn btn-success" type="button">Learn More!</button></span>
            </div>
        </div>
      </div>
    </div>
  </div>
  <script>
      $(function() {
            $.vegas({
                src:'<%= asset_path 'backgrounds/sd.jpg' %>'
            })('overlay', {
                src:"<%= asset_path 'overlays/05.png' %>"
            });
            $.vegas('slideshow', {
                backgrounds:[
                    { src: '<%= asset_path 'backgrounds/sd.jpg' %>', fade:1000 },
                    { src: '<%= asset_path 'backgrounds/hiking.jpg' %>', fade:1000, valign:'70%' },
                    { src: '<%= asset_path 'backgrounds/rockies.jpg' %>', fade:1000 },
                    { src: '<%= asset_path 'backgrounds/beach.jpg' %>', fade:1000 }
                ]
            })('overlay');
        });
  </script>