<div class="container">
  <div class="row center-block" style=" text-align:center; margin-bottom:5px">
    <div class="">
      <span class="headline headline-gray" style="color:white;">MEET PEOPLE.</span>
      <span class="headline headline-gray" style="color:#BF0055">DO STUFF.</span>
      <br/>
      <span style="color:#22BF55;font-size:20px;">Now available in metro Denver and Pittsburgh!!!</span>
    </div>
  </div>
  <div class="row">
    <%= current_user ? render('layouts/side_nav') : nil %>
    <div class="col-md-8 <%= current_user ? nil : 'col-md-offset-2' %> ">
      <div class="panel" style="height:284px;padding:50px">
        <div class="text-center">
         <div class="btn-group" id="create_search" style="margin-top:-50px;">
          <a href="#search" data-toggle="tab" class="btn active btn-info">Search</a>
          <a href="#create" data-toggle="tab" class="btn btn-default">Create</a>
        </div>
      </div>
      
      <div class="tab-content">
        <div class="tab-pane active" id="search">
          <%= form_tag("/activities/search", method: "post") do %>
          <form role="form">
            <div class="form-group">
              <div class="input-group input-group-lg">
                <%= search_field_tag :terms, nil, placeholder: "Search for Activities…by name, venue, user", class: "form-control" %>
                <span class="input-group-btn">
                  <%= submit_tag "Search", class: "btn btn-success" %>
                </span>
              </div><!-- /input-group -->
              <div class="row" style="margin-top:5px;display:none" id="search-terms">
                <div class="col-xs-8 col-md-8 col-lg-8">
                  <div class="btn-group" id="date-dropdown">
                    <a style="cursor: pointer" class="dropdown-toggle" data-toggle="dropdown">
                      <input type="hidden" name="when" class="hidden-input" value="Today">
                      <span class="selection">Today</span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">This Week</a></li>
                      <li><a href="#">This Weekend</a></li>
                      <li><a href="#">Next Two Weeks</a></li>
                      <li class="divider"></li>
                      <div class="form-group" style="padding:5px">
                        <label>Start</label>
                        <div class='input-group date col-sm-4' style='width:200px' id='startDatePicker'>
                          <input type="text" class="form-control input-sm" name="from_date">
                          <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                        <label>End</label>
                        <div class='input-group date col-sm-4' style='width:200px' id='endDatePicker'>
                          <input type="text" class="form-control input-sm" name="to_date">
                          <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                      </div>
                    </ul>
                  </div>
                  within
                  <div class="btn-group" id="distance-dropdown">
                    <a style="cursor: pointer" class="dropdown-toggle" data-toggle="dropdown">
                      <input type="hidden" name="distance" class="hidden-input" value="25">
                      <span class="selection">25</span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">5</a></li>
                      <li><a href="#">25</a></li>
                      <li><a href="#">50</a></li>
                      <li><a href="#">100</a></li>
                      <li><a href="#">200</a></li>
                    </ul>
                  </div>
                  miles of
                  <div class="btn-group" id="location-dropdown" >
                    <a style="cursor: pointer" class="dropdown-toggle" data-toggle="dropdown">
                      <input type="hidden" id="location" name="location" class="hidden-input" value="Denver, CO">
                      <span id="selection" class="selection"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Denver, CO</a></li>
                      <li><a href="#">Pittsburgh, PA</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <% end %>
          </form>
        </div>
        <div class="tab-pane" id="create">
          <%= form_tag new_activity_path do %> 
          <div class="input-group input-group-lg" >
            <%= text_field_tag :activity_name, nil, {class: 'form-control', placeholder: 'Activity Name'} %>
            <span class="input-group-btn">
              <%= submit_tag 'Create!', class: 'btn btn-danger' %>
            </span>
          <% end %>
          </div><!-- /input-group -->
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<script>
  $(function() {
    $.vegas({
      src:'<%= asset_path 'backgrounds/1.jpg' %>'
    })('overlay', {
      src:"<%= asset_path 'overlays/05.png' %>"
    });
    $.vegas('slideshow', {
      delay:10000,
      backgrounds:[
      { src: '<%= asset_path 'backgrounds/1.jpg' %>', fade:1000 },
      { src: '<%= asset_path 'backgrounds/2.jpg' %>', fade:1000, valign:'70%' },
      { src: '<%= asset_path 'backgrounds/3.jpg' %>', fade:1000 },
      { src: '<%= asset_path 'backgrounds/4.jpg' %>', fade:1000 }
      ]
    })('overlay');
  });

  $("#create_search").children().click(function(e){
   $(this).addClass("active btn-info");
   $(this).siblings().removeClass('active btn-info').addClass('btn-default');
  });

  $(".dropdown-menu li a").click(function(){
    $(this).parents(".btn-group").find('.selection').text($(this).text());
    $(this).parents(".btn-group").find('.selection').val($(this).text());
    $(this).parents(".btn-group").find('.hidden-input').val($(this).text());
  });



  $(function () {
      $('#startDatePicker').datetimepicker({
        minDate: "<%= Date.today %>",
        pickTime: false
      });

      $('#endDatePicker').datetimepicker({
        pickTime: false
      });

      $("#startDatePicker").on("dp.change",function (e) {
         $('#endDatePicker').data("DateTimePicker").setMinDate(e.date);
      });
      $("#endDatePicker").on("dp.change",function (e) {
         $('#startDatePicker').data("DateTimePicker").setMaxDate(e.date);
      });

  });

  $(function () { 

    // Get browser location and set selectors
    function getLocation() {
      if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(getCity, getCityError);
      } else {
          $('#selection').text('Denver, CO');
          $('#search-terms').show();
      }
    }
    function getCity(position) {
      latitude = position.coords.latitude;
      longitude = position.coords.longitude

     $.get( "/geocode/search.json", {location: latitude + "," + longitude}, function( data ) {
          $('#location').val(data.location);
          $('#selection').text(data.location);
          $('#search-terms').show();
        });
    };

    function getCityError() {
      $('#selection').text('Denver, CO');
      $('#search-terms').show();
    };

    getLocation();
  });

  $('#date-dropdown').on('hide.bs.dropdown', function () {
    //$(this)
  });
    
</script>
