<section id="home" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2"> <%= form_tag("/search", method: "post") do %>
        <div class="form-group" id="search-group">
          <h1 class="tagline" style="font-weight:600;padding-bottom:0px;margin-bottom:0">MEET PEOPLE. DO STUFF.</h1>
          <h1 class="tagline" style="padding-top:0;padding-bottom:45px;margin-bottom:0"><small>AVAILABLE IN METRO DENVER & PITTSBURGH</small></h1>
          <div class="input-group input-group-lg">
            <input class="form-control" id="terms" name="terms" placeholder="Find Activities and Friends…by name or venue" type="search" autofocus>
            <span class="input-group-btn">
            <input class="btn" name="commit" type="submit" value="Search">
            </span> </div>
          <!-- /input-group -->
          <div class="row search-terms col-sm-12" style="margin-top:5px" id="search-terms">
            <div class="btn-group" id="date-dropdown"> <a style="cursor: pointer" class="dropdown-toggle search-term-links" data-toggle="dropdown">
              <input type="hidden" name="type" class="hidden-input" id="type-selection" value="All">
              <span class="selection" id="activitytype-selection-phrase">All</span> </a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Sport</a></li>
                <li><a href="#">Art</a></li>
                <li><a href="#">Business</a></li>
                <li><a href="#">Outdoor</a></li>
                <li><a href="#">Eat & Drink</a></li>
                <li><a href="#">Nightlife</a></li>
                <li><a href="#">Community</a></li>
              </ul>
            </div>
             activities 
            <div class="btn-group" id="date-dropdown"> <a style="cursor: pointer" class="dropdown-toggle search-term-links" data-toggle="dropdown">
              <input type="hidden" name="when" class="hidden-input" id="daterange-selection" value="Next Two Weeks">
              <span class="selection" id="daterange-selection-phrase">Next Two Weeks</span> </a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Today</a></li>
                <li><a href="#">This Week</a></li>
                <li><a href="#">This Weekend</a></li>
                <li><a href="#">Next Two Weeks</a></li>
                <li class="divider"></li>
                <div class="form-group" style="padding:5px">
                  <h5>Start</h5>
                  <input type="text" id="startDatePicker" class="form-control input-sm keep_open" name="from_date">
                  <h5>End</h5>
                  <input type="text" id="endDatePicker" class="form-control input-sm keep_open" name="to_date">
                </div>
              </ul>
            </div>
            within
            <div class="btn-group" id="distance-dropdown"> <a style="cursor: pointer" class="dropdown-toggle search-term-links" data-toggle="dropdown">
              <input type="hidden" name="distance" class="hidden-input" value="25">
              <span class="selection">25</span> </a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">5</a></li>
                <li><a href="#">25</a></li>
                <li><a href="#">50</a></li>
                <li><a href="#">100</a></li>
                <li><a href="#">200</a></li>
              </ul>
            </div>
            miles of
            <input type="text" id="location" name="location" class="form-control input-md" style="width:125px;display:none;" value="Denver, CO" placeholder="City or ZIP">
            <a id="selection" class="selection search-term-links">Denver, CO</a> </div>
            <div class="box-center" style="width:100%;text-align:center;padding-top:30px;">
              <div class="fb-like" data-href="https://www.facebook.com/pages/Twonoo/652492941462596" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"
              style="padding: 0px; vertical-align: top; height: 24px;"></div>

              <div class="g-plusone"
                data-height="24"
                data-width="64">
              </div>
            </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</section>


<%= current_user ? render('layouts/user_sub_nav') : nil %>

<%= render 'wecleom/trending' %>

<script>
  $("#create_search").children().click(function(e){
   $(this).addClass("active btn-info");
   $(this).siblings().removeClass('active btn-info').addClass('btn-default');
  });

  $(".dropdown-menu li a").click(function(){
    $(this).parents(".btn-group").find('.selection').text($(this).text());
    $(this).parents(".btn-group").find('.selection').val($(this).text());
    $(this).parents(".btn-group").find('.hidden-input').val($(this).text());
  });

  $(function () {
      $('#startDatePicker').datetimepicker({
        minDate: "<%= Date.today %>",
        defaultDate: "<%= Date.today.strftime('%m/%d/%Y') %>",
        pickTime: false
      });

      function getCustomDates() {
        start = moment($('#startDatePicker').val());
        end = moment($('#endDatePicker').val());
        //console.log(start.format("ddd, M, D") + " - " + end.format("ddd, M, D"));
        return start.format("ddd M/D") + " - " + end.format("ddd M/D")
      }

      $('#endDatePicker').datetimepicker({
        defaultDate: "<%= (Date.today + 7).strftime('%m/%d/%Y') %>",
        pickTime: false
      });

      $("#startDatePicker").on("dp.change",function (e) {
         $('#endDatePicker').data("DateTimePicker").setMinDate(e.date);
         $('#daterange-selection').removeAttr('value');
         $('#daterange-selection-phrase').text(getCustomDates);
      });

      $("#endDatePicker").on("dp.change",function (e) {
         $('#startDatePicker').data("DateTimePicker").setMaxDate(e.date);
         $('#daterange-selection').removeAttr('value');
         $('#daterange-selection-phrase').text(getCustomDates);
      });

      $('.keep_open').click(function(event){
        event.stopPropagation();
      });
  });

  $(function () {

    // Get browser location and set selectors
    function getLocation() {
      if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(getCity, getCityError);
      } else {
          $('#selection').text('Denver, CO');
          $('#search-terms').show();
      }
    }

    function getCity(position) {
        var geocoder = new google.maps.Geocoder();

        var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
        console.log(latlng);

        var city = 'Pittsburgh';
        var state = 'PA';

        geocoder.geocode({'latLng': latlng}, function(results, status){
          $.each(results[0].address_components, function (i, address_component) {
              console.log('address_component:'+i);

              var type = address_component.types[0];
              console.log(i+": "+type+":"+address_component.short_name);

              if (type == 'locality')
                city = address_component.short_name;
              else if (type == 'administrative_area_level_1')
                state = address_component.short_name;
          });

          $('#location').val(city + ", " + state);
          $('#selection').text(city + ", " + state);
          console.log("city, state: "+city+", "+state);

          console.log(latlng);
          $.ajax({
            type: "POST",
            url: "<%=trending_path%>",
            data: {location: '['+position.coords.latitude+','+position.coords.longitude+']'},
            success: function(html) {
              $('#trendingdiv').html(html);
            }});
        });

        $('#search-terms').show();
      }

    function getCityError() {
      $('#selection').text('Denver, CO');
      $('#search-terms').show();
    };

    getLocation();
  });

  $(document).ready(function() {
      $('#selection').click(function () {
          $('#location').css('display', 'inline');
          $('#location').val('');
          $('#location').focus();
          
          $(this).hide();
      });

      $('#location').focusout(function() {
          if( !$(this).val()) {
              $('#selection').show();
              $(this).val($('#selection').text());
              $(this).css('display', 'none');
          }
      });

  });

  $(document).ready(function() {
    var height = $(window).height() - 350; 
    $("#home").height(height);
    $("#search-group").css('margin-top', ((height - 375) / 2))
  });

  window.onresize = function() {
   var height = $(window).height() - 350; 
    $("#home").height(height);
    $("#search-group").css('margin-top', ((height - 375) / 2))
  }
</script>
