<link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
<div class="alert alert-success fade in" id="no_interest_selected" style='background:#FAF0D7;color:#F6B26B;display:none;'>
  <button data-dismiss="alert" class="close">x</button>Please select an interest.
</div>
<section id="home" data-stellar-background-ratio="0.5" style="min-height:300px;max-height:450px;" class="collapse navbar-collapse">
  <div class="container" style="min-height:150px;">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <%= form_tag("/search", method: "get", id: "search_form", onsubmit: "return confirmSearch();") do %>
            <div class="form-group" id="search-group">
              <div class='tag-lines-h'>

                <h1>MEET PEOPLE. &nbsp;&nbsp;&nbsp;DO STUFF.</h1>

                <h2 class='white text-center'>
                  Connect with Cool People!
                </h2>

              </div>

              <div class="input-group input-group-lg inteli-search col-md-12">
                

  <!-- Modal -->
  <div class="modal fade" id="interestWebModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header" style="border-bottom:none;"> 
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title text-center" id="myModalLabel">Select Interests</h4>
        </div>
        <div class="modal-body text-center" style="padding-top:0px;">
          <button type="button" class="dark_grey_btn activity-interest all-interest" style="margin-bottom:20px;">All</button>
          <div class="clearfix"> </div>
          
          <div class="web_scroll activity-list">
            <%
              user_terms = [(params[:terms] || [])].flatten
              # user_terms = current_user.interests.map(&:name) if user_terms.blank? && current_user.present?
              Interest.all.each do |int|

                btn_class = 'selected_btn' if user_terms.include?(int.name)
            %>
              <button type="button" style="float:left;" class="dark_grey_btn activity-interest <%=btn_class%>"><%= int.name %></button>
            <% end %>
          </div> 
          
          <div class="clearfix"></div>
          <button type="button" id='submit-interest' data-dismiss="modal" class="dark_green_btn btn-default pull-right">DONE</button>             
          
          <div class="clearfix"> </div>
        </div>
       </div>
    </div>
  </div>
<div style="width:625px; margin:0 auto;">
       <input class="form-control col-md-4" id="terms" name="terms" placeholder="Select Interests" autocomplete='off' type="search" title="Enter your interests or select All to see everything!" style='width:300px;border-radius: 6px;cursor:pointer;' data-toggle="modal" data-target="#interestWebModal" readonly='true'>

                <div class="btn-group search_city" id="location-selection">
                  <input type="hidden" id="lat" name="lat" value="39.737567"/>
                  <input type="hidden" id="lng" name="lng" value="-104.9847179"/>
                  <div class="input-group location-input" style="background-color: #ffffff">
                  
                  <input type="search" id="location" name="location" class="form-control input-md" placeholder='City or ZIP' style="display:none;border-radius: 5px; height:44px; width:400px; font-size:16px;"
                         <% if user_signed_in? && !(current_user.profile.city.nil? || current_user.profile.state.nil?) %>
                         value="<%= current_user.profile.city %>, <%= current_user.profile.state %>"
                         <% elsif !(cookies["city"].nil? || cookies["state"].nil?) %>
                         value="<%= cookies["city"] %>, <%= cookies["state"] %>"
                         <% else %>
                         value="Denver, CO"
                         <% end %>
                         placeholder="City or ZIP">


                  </div>
                  <a id="selection" class="selection location_selection" style='border-radius: 6px;'>
                    <% if user_signed_in? && !(current_user.profile.city.nil? || current_user.profile.state.nil?) %>
                        <%= current_user.profile.city %>, <%= current_user.profile.state %>
                    <% elsif !(cookies["city"].nil? || cookies["state"].nil?) %>
                        <%= cookies["city"] %>, <%= cookies["state"] %>
                    <% else %>
                        Denver, CO
                    <% end %>
                  </a>

                </div>
               <div class="clearfix"> </div> 
                <button type="submit" name="commit" onclick="return check_interests();" class="dark_green_btn btn-default dark_green_btn_header" style="float:right;">GO!</button>
    </div>

              </div>
              <!-- /input-group -->
              <div class="row search-terms col-sm-12 text-center" id="search-terms">

                <!-- Removed in favor of inteli-search.  Retained incase Steve changes his mind :D -->

                <!--<div class="btn-group" id="date-dropdown">-->
                <!--<a style="cursor: pointer; " class="dropdown-toggle search_criteria" data-toggle="dropdown">-->
                <!--<input type="hidden" name="type" class="hidden-input" id="type-selection" value="All">-->
                <!--<span class="selection" id="activitytype-selection-phrase">All</span><i class='glyphicon glyphicon-chevron-down'></i></a>-->
                <!--<ul class="dropdown-menu" role="menu">-->
                <!--<li><a href="#">All</a></li>-->
                <!--<%# ActivityType.all.each do |at| %>-->
                <!--<li><a href="#"><%#= at.activity_type %></a></li>-->
                <!--<%# end %>-->
                <!--</ul>-->
                <!--</div>-->


                <!--activities-->
                <!-- <div class="btn-group" id="date-dropdown">
                  <a style="cursor: pointer;" class="dropdown-toggle search_criteria" data-toggle="dropdown">
                    <input type="hidden" name="when" class="hidden-input" id="daterange-selection" value="Anytime">
                    <span class="selection" id="daterange-selection-phrase">Anytime</span><i class='glyphicon glyphicon-chevron-down'></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Today</a></li>
                    <li><a href="#">This Week</a></li>
                    <li><a href="#">This Weekend</a></li>
                    <li><a href="#">Next Two Weeks</a></li>
                    <li><a href="#">Anytime</a></li>
                    <li class="divider"></li>
                    <div class="form-group" style="padding:5px">
                      <h5>Start</h5>
                      <input type="text" id="startDatePicker" class="form-control input-sm keep_open" name="from_date">
                      <h5>End</h5>
                      <input type="text" id="endDatePicker" class="form-control input-sm keep_open" name="to_date">
                    </div>
                  </ul>
                </div> -->
                <!-- within
                <div class="btn-group" id="distance-dropdown">
                  <a style="cursor: pointer;" class="dropdown-toggle search_criteria" data-toggle="dropdown">
                    <input type="hidden" name="distance" class="hidden-input" value="25">
                    <span class="selection">25</span><i class='glyphicon glyphicon-chevron-down'></i> </a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">5</a></li>
                    <li><a href="#">25</a></li>
                    <li><a href="#">50</a></li>
                    <li><a href="#">100</a></li>
                    <li><a href="#">200</a></li>
                  </ul>
                </div> -->
                <!-- miles of
                <div class="btn-group" id="location-selection">
                  <input type="hidden" id="lat" name="lat" value="39.737567"/>
                  <input type="hidden" id="lng" name="lng" value="-104.9847179"/>
                  <div class="input-group" style="background-color: #ffffff">
                  <input type="search" id="location" name="location" class="form-control input-md" placeholder='City or ZIP' style="width:200px;display:none;"
                         <% if user_signed_in? && !(current_user.profile.city.nil? || current_user.profile.state.nil?) %>
                         value="<%= current_user.profile.city %>, <%= current_user.profile.state %>"
                         <% elsif !(cookies["city"].nil? || cookies["state"].nil?) %>
                         value="<%= cookies["city"] %>, <%= cookies["state"] %>"
                         <% else %>
                         value="Denver, CO"
                         <% end %>
                         placeholder="City or ZIP">
                  </div>
                  <a id="selection" class="selection location_selection">
                    <% if user_signed_in? && !(current_user.profile.city.nil? || current_user.profile.state.nil?) %>
                        <%= current_user.profile.city %>, <%= current_user.profile.state %>
                    <% elsif !(cookies["city"].nil? || cookies["state"].nil?) %>
                        <%= cookies["city"] %>, <%= cookies["state"] %>
                    <% else %>
                        Denver, CO
                    <% end %>
                  </a>
                </div> -->
              </div>
            </div>
        <% end %>
      </div>
      <style type="text/css">
          #social > a > img {
              width: 32px;
              height: 32px;
              margin-bottom: 15px;
          }
          #social {height: 37px;max-height: 37px;}
      </style>

    </div>

  </div>
  <div id="social" class="pull-right">
    <%= link_to image_tag("fb.png"), 'http://www.facebook.com/meetexplorelive', :target => "_blank" %>
    <%= link_to image_tag("tw.png"), 'http://twitter.com/MeetExploreLive', :target => "_blank" %>
    <%= link_to image_tag("gp.png"), 'http://plus.google.com/118324650798603527769/posts', :target => "_blank" %>
  </div>
</section>

<%= form_tag("/search", method: "get", id: "search_form_mobile", name: :search_form_mobile, onsubmit: "return confirmSearchMobile();" ) do %>
    <!-- Varun/Monesh : Commented for some time, after approval we will remove  -->
    <!-- <div class="mobile-search navbar-toggle collapsed" style="padding: 10px; height: 180px; float: none; margin: 0; ">
      <div class="" style="padding-bottom: 10px">
        <input style="border: 1px solid;" class="form-control" id="terms" name="terms" placeholder="Enter what interests you...blank shows all" type="search" title="Enter what interests you...blank shows all">
        <span class="glyphicon glyphicon-search" aria-hidden="true" style="position: absolute; top: <%= current_user ? "17" : "72" %>px; right: 22px;" onclick="document.search_form_mobile.submit(); return false;"></span>
      </div>
 
       <div class="btn-group" id="location-selection-mobile" style="padding-bottom: 10px; width: 49%; float: left;"> -->
        <!--<input type="hidden" id="lat-mobile"" name="lat" value="39.737567"></input>-->
        <!--<input type="hidden" id="lng-mobile"" name="lng" value="-104.9847179"></input>-->
        <!-- <input type="hidden" id="lat-mobile" name="lat" value=""/>
        <input type="hidden" id="lng-mobile" name="lng" value=""/>
        <input type="text" id="location-mobile" name="location" class="form-control input-md" style="width:125px;display:none;"
               <% if user_signed_in? && !(current_user.profile.city.nil? || current_user.profile.state.nil?) %>
               value="<%= current_user.profile.city %>, <%= current_user.profile.state %>"
               <% elsif !(cookies["city"].nil? || cookies["state"].nil?) %>
               value="<%= cookies["city"] %>, <%= cookies["state"] %>"
               <% else %>
               value="Denver, CO"
               <% end %>
               placeholder="City or ZIP">
        <a id="selection-mobile" class="selection location_selection_mobile" style="color: inherit;">
          <% if user_signed_in? && !(current_user.profile.city.nil? || current_user.profile.state.nil?) %>
              <%= current_user.profile.city %>, <%= current_user.profile.state %>
          <% elsif !(cookies["city"].nil? || cookies["state"].nil?) %>
              <%= cookies["city"] %>, <%= cookies["state"] %>
          <% else %>
              Denver, CO
          <% end %>
          <i class='glyphicon glyphicon-chevron-down'></i>
        </a>
      </div>
 
       <div class="" style="padding-bottom: 10px;width: 49%; float: left;">
        <div class="btn-group" id="date-dropdown-mobile">
          <a style="cursor: pointer; background-color: inherit; border: none; color: inherit;" class="dropdown-toggle search_criteria" data-toggle="dropdown">
            <input type="hidden" name="type" class="hidden-input" id="type-selection-mobile" value="All">
            <span class="selection" id="activitytype-selection-phrase" sytle="">All</span>
            <i class='glyphicon glyphicon-chevron-down'></i></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">All</a></li>
            <% ActivityType.all.each do |at| %>
                <li><a href="#"><%= at.activity_type %></a></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
 
     <input class="btn" name="commit" type="submit" value="Search" style="display: none"> -->


  <!-- Modal -->
  <div class="modal fade" id="interestModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header" style="border-bottom:none;"> 
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title text-center" id="myModalLabel">Select Interests</h4>
        </div>
        <div class="modal-body text-center" style="padding-top:0px;">
          <button type="button" class="dark_grey_btn activity-interest all-interest" style="margin-bottom:20px;">All</button>
          <div class="clearfix"> </div>
          
          <div class="pop_scroll activity-list">
            <%
              user_terms = [(params[:terms] || [])].flatten
              # user_terms = current_user.interests.map(&:name) if user_terms.blank? && current_user.present?
              Interest.all.each do |int|

                btn_class = 'selected_btn' if user_terms.include?(int.name)
            %>
              <button type="button" style="float:left;" class="dark_grey_btn activity-interest <%=btn_class%>"><%= int.name %></button>
            <% end %>
          </div> 
          
          <div class="clearfix"></div>
          <button type="button" id='submit-interest' data-dismiss="modal" class="dark_green_btn btn-default pull-right">DONE</button>             
          
          <div class="clearfix"> </div>
        </div>
       </div>
    </div>
  </div>

  <div class="text-center mob_view">
    <h3 style='font-style: italic;font-weight: normal;'>Connect with cool people</h3>

<div style="display:inline-block;">

    <button type="button" title="Enter what interests you...blank shows all" class="grey_btn btn-default" data-toggle="modal" data-target="#interestModal" id="terms-btn">Select Interest</button>
    <input style="display:none;" class="form-control grey_btn btn-default" id="terms" name="terms" type="search">

    <div class="btn-group grey_btn" id="location-selection-mobile">
      <!--<input type="hidden" id="lat-mobile"" name="lat" value="39.737567"></input>-->
      <!--<input type="hidden" id="lng-mobile"" name="lng" value="-104.9847179"></input>-->
      <input type="hidden" id="lat-mobile" name="lat" value=""/>
      <input type="hidden" id="lng-mobile" name="lng" value=""/>
      <input type="text" id="location-mobile" name="location" class="form-control input-md" style="display:none; width:135px;"
             <% if user_signed_in? && !(current_user.profile.city.nil? || current_user.profile.state.nil?) %>
             value="<%= current_user.profile.city %>, <%= current_user.profile.state %>"
             <% elsif !(cookies["city"].nil? || cookies["state"].nil?) %>
             value="<%= cookies["city"] %>, <%= cookies["state"] %>"
             <% else %>
             value="Denver, CO"
             <% end %>
             placeholder="City or ZIP">
      <a id="selection-mobile" class="selection location_selection_mobile" style="color: inherit;"><% if user_signed_in? && !(current_user.profile.city.nil? || current_user.profile.state.nil?) %><%= current_user.profile.city %>, <%= current_user.profile.state %><% elsif !(cookies["city"].nil? || cookies["state"].nil?) %><%= cookies["city"] %>, <%= cookies["state"] %><% else %>Denver, CO<% end %></a>
        <!-- <i class='glyphicon glyphicon-chevron-down'></i> -->
    </div>
    <div class="clearfix"> </div>  
       <button type="submit" onclick="return check_mobile_interests();" id='mobile_search_submit' class="dark_green_btn btn-default pull-right" style="margin-top:5px; min-width: 69px;">GO!</button>    

</div>

 
</div>
<% end %>

<%= current_user ? render('layouts/user_sub_nav') : nil %>
<!-- Remove Trending -->
<!-- <section class="" id="trending" name="trending" style="padding:0px; margin-top:<%= current_user.present? ? '52px' : '2px' %>"></section> -->

<%= javascript_include_tag "welcome" %>
<script type='text/javascript'>
  $(function () {
      var suggestedValues = <%= raw @suggested_search_terms %>;
      setupSuggestedSearch(suggestedValues);

      var suggestedCityValues = <%= raw @suggested_city_search_terms %>;
      setupCitySuggestedSearch(suggestedCityValues);
  });
         
  $('.activity-interest').click(function (e) {
      // e.preventDefault();
      if($(this).hasClass('selected_btn')){
        $(this).removeClass('selected_btn');
      }
      else{
        $(this).addClass('selected_btn');
      }

      if($(this).text()=='All')
        $('.activity-list button').removeClass('selected_btn');
      else
        $('.all-interest').removeClass('selected_btn');
  });

  $('#interestModal, #interestWebModal').on('show.bs.modal', function (e) {
    $('.activity-list button').each(function( i ) {
      if($(this).text().length > 18)
        $(this).css({"font-size": "9px"});
      if($(this).text().length > 15)
        $(this).css({"font-size": "11px"});
      else if($(this).text().length > 13)
        $(this).css({"font-size": "12px"});
      else if($(this).text().length > 11)
        $(this).css({"font-size": "13px"});
      else if($(this).text().length > 9)
        $(this).css({"font-size": "14px"});
    });
  });

  $('#interestModal #submit-interest').click(function (e) {
    var term = '';
    var terms = [];
    if($('#interestModal .all-interest').hasClass('selected_btn'))
      term = 'All';
    else{
      $('#interestModal .activity-list button').each(function( i ) {
        if($(this).hasClass('selected_btn'))
          terms.push($(this).text());
      });
      term = terms.join();
    }
    if(term!=''){
      $('#search_form_mobile #terms').val(term);
      var btn_term = term.length>16 ? term.substring(0,14)+'...' : term;
      $('#search_form_mobile #terms-btn').text(btn_term);
    }
  });

  $('#interestWebModal #submit-interest').click(function (e) {
    var term = '';
    var terms = [];
    if($('#interestWebModal .all-interest').hasClass('selected_btn'))
      term = 'All';
    else{
      $('#interestWebModal .activity-list button').each(function( i ) {
        if($(this).hasClass('selected_btn'))
          terms.push($(this).text());
      });
      term = terms.join();
    }
    if(term!=''){
      $('#search_form #terms').val(term);
    }
  });

  $("#location-mobile").blur(function() {
    $("#selection-mobile").hide();
    $(this).css('background','transparent');
  });
   $("#selection-mobile").click(function() {
        $("#location-selection-mobile").addClass("nopad");
  });

  function check_interests(){
    var term_val = $('#search_form #terms').val();
    if (term_val=='' || term_val==undefined){
      $('#no_interest_selected').show();
      return false;
    }
    else
      $('#no_interest_selected').hide();

    return true;
  }
  function check_mobile_interests(){
    var term_val = $('#search_form_mobile #terms').val();
    if (term_val=='' || term_val==undefined){
      $('#no_interest_selected').show();
      return false;
    }
    else {
      $('#no_interest_selected').hide();
      confirmSearchMobile();
      // document.search_form_mobile.submit();
      $(this).click();
      return true;
    }
  }
</script>
