<section id="home" data-stellar-background-ratio="0.5" style="min-height:300px;max-height:450px;">
  <div class="container" style="min-height:200px;">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2"> <%= form_tag("/search", method: "post", id: "search_form", onsubmit: "return confirmSearch();") do %>
        <div class="form-group" id="search-group" >
          <h1 class="tagline" style="font-weight:600;padding-bottom:0px;margin-bottom:0;white-space:nowrap;">MEET PEOPLE. DO STUFF.</h1>
          <h1 class="tagline" style="padding-top:0;padding-bottom:45px;margin-bottom:0;white-space:nowrap;"><small>AVAILABLE IN COLORADO, ALASKA & PITTSBURGH</small></h1>
          <div class="input-group input-group-lg">
            <input class="form-control" id="terms" name="terms" placeholder="Find Activities and Friends…by name or venue" type="search" title="Leave empty to see all activities" autofocus>
            <span class="input-group-btn">
            <input class="btn" name="commit" type="submit" value="Search">
            </span> </div>
          <!-- /input-group -->
          <div class="row search-terms col-sm-12" style="margin-top:5px" id="search-terms">
            <div class="btn-group" id="date-dropdown"> <a style="cursor: pointer" class="dropdown-toggle search-term-links" data-toggle="dropdown">
              <input type="hidden" name="type" class="hidden-input" id="type-selection" value="All">
              <span class="selection" id="activitytype-selection-phrase">All</span> </a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">All</a></li>
                <li><a href="#">Sport</a></li>
                <li><a href="#">Art</a></li>
                <li><a href="#">Business</a></li>
                <li><a href="#">Outdoor</a></li>
                <li><a href="#">Eat & Drink</a></li>
                <li><a href="#">Nightlife</a></li>
                <li><a href="#">Community</a></li>
              </ul>
            </div>
             activities 
            <div class="btn-group" id="date-dropdown"> <a style="cursor: pointer" class="dropdown-toggle search-term-links" data-toggle="dropdown">
              <input type="hidden" name="when" class="hidden-input" id="daterange-selection" value="Next Two Weeks">
              <span class="selection" id="daterange-selection-phrase">Next Two Weeks</span> </a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Today</a></li>
                <li><a href="#">This Week</a></li>
                <li><a href="#">This Weekend</a></li>
                <li><a href="#">Next Two Weeks</a></li>
                <li class="divider"></li>
                <div class="form-group" style="padding:5px">
                  <h5>Start</h5>
                  <input type="text" id="startDatePicker" class="form-control input-sm keep_open" name="from_date">
                  <h5>End</h5>
                  <input type="text" id="endDatePicker" class="form-control input-sm keep_open" name="to_date">
                </div>
              </ul>
            </div>
            within
            <div class="btn-group" id="distance-dropdown"> <a style="cursor: pointer" class="dropdown-toggle search-term-links" data-toggle="dropdown">
              <input type="hidden" name="distance" class="hidden-input" value="25">
              <span class="selection">25</span> </a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">5</a></li>
                <li><a href="#">25</a></li>
                <li><a href="#">50</a></li>
                <li><a href="#">100</a></li>
                <li><a href="#">200</a></li>
              </ul>
            </div>
            miles of
            <input type="hidden" id="lat" name="lat" value="39.737567"></input>
            <input type="hidden" id="lng" name="lng" value="-104.9847179"></input>
            <input type="text" id="location" name="location" class="form-control input-md" style="width:125px;display:none;"
            <% if user_signed_in? && !(current_user.profile.city.nil? || current_user.profile.state.nil?) %>
              value="<%=current_user.profile.city%>, <%=current_user.profile.state%>"
            <% else %>
              value="Denver, CO"
            <% end %>
            placeholder="City or ZIP">
            <a id="selection" class="selection search-term-links">
              <% if user_signed_in? && !(current_user.profile.city.nil? || current_user.profile.state.nil?) %>
                <%=current_user.profile.city%>, <%=current_user.profile.state%>
              <% else %>
                Denver, CO
              <% end %>
            </a> </div>
            <div class="box-center" style="width:100%;text-align:center;padding-top:30px;white-space:nowrap;">
              <div class="fb-like" data-href="https://www.facebook.com/pages/Twonoo/652492941462596" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"
              style="padding: 0px; vertical-align: top; height: 24px;"></div>
              <div class="g-plusone"
                data-height="24"
                data-width="64">
              </div>
            </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</section>


<%= current_user ? render('layouts/user_sub_nav') : nil %>

<section class="slice" id="trending" name="trending" style="padding:0px"></section>

<%= javascript_include_tag "welcome" %>
