<div class="container">
  <div class="row center-block" style="margin-bottom:5px">
    <div class="content">
      
        <ul class="nav nav-tabs" role="tablist">
          <% if @activities.present? %>
            <li class="<%= 'active' %>"><a href="#activities" role="tab" data-toggle="tab">Activities</a></li>
          <% end %>
          <% if @users.present? %> 
            <li class="<%= 'active' if @activities.blank? %>"><a href="#users" role="tab" data-toggle="tab">Users</a></li>
          <% end %>
        </ul>
        <div class="panel">
        <div class="tab-content">
          <div class="tab-pane <%= 'active' if @activities %>" id="activities">
            <% @activities.each do |a| %>
              <div id="results-row" class="row row-md-height">
                <div class="col-md-2 panel panel-left">
                  <h2 style="color:white"><strong><%= a.datetime.strftime('%^b %e') %></strong></h2>
                  <h3 style="color:white"><%= a.datetime.strftime('%-I:%M %p') %></h3>
                  <font size="1" style="color:white"><%=a.city%>, <%=a.state%></font>
                </div>
                <div class="col-md-10 panel panel-right" style="background-color:#fff">
                  <h2>
                    <%= link_to a.activity_name, activity_path(a.id) %>
                    <% if a.cancelled %>
                      <font color='red'>(Cancelled)</font>
                    <% end %>
                  </h2>
                  <p class="lead"><%= truncate(a.description, :length => 150) %></p>
                </div>
              </div>
            <% end %>
          </div>
          <% if @users.present? %>
          <div class="tab-pane <%= 'active' if @activities.blank? %>" id="users">
            <% @users.each do |u| %>
              <p class="lead">
                <p class="lead"><%= profile_img(u.user) %> 
                <%= link_to (u.first_name + ' ' + u.last_name), profile_path(u.user_id) %>
              </p>
            <% end %>
          </div>
          <% end %>
        </div>
       </div>
      </div>
    </div>
  </div>
</div>
