<div class="container">
  <div class="row center-block" style="margin-bottom:5px">
    <div class="content">

            <style type="text/css">


            body {
              background-color: #e2e2e2;
            }

            .search-result-list {
              height: 150px;
              background-color: #FFFFFF;
              margin-bottom: 2px;
            }


            .search-result-list-details {
              line-height: 17px;
              padding-top: 49px;
              padding-right: 0px;
            }

            .search-result-list-location {
              padding:0;
              font-size: 15px;
              color: #FE0075;
              margin:0;
              display:block;
            }

            .search-result-list-date {
              padding:0;
              font-size: 15px;
              display:block;
            }


            .search-result-list-activity-name {
              color: #000000;
              font-family: Helvetica, Helvetica Neue;
            }
            .search-result-list-activity-name:link {
              padding:0;
              display:block;
              font-size: 20px;
              font-weight: 600;
              color: #000000;
              font-family: Helvetica, Helvetica Neue;
            }

            .search-result-list-activity-name:hover {
              padding:0;
              display:block;
              font-size: 20px;
              font-weight: 600;
              color: #000000;
              font-family: Helvetica, Helvetica Neue;
            }

            .search-result-list-attending {
              line-height: 25px;
              text-align: right;
              margin-top:17px;
            }

            .search-result-list-join {
              margin-top: 53px;
              line-height: 10px;
              text-align: right;
            }

            .search-result-list-join > a {
              background-color: #e2e2e2;
              color: #333333;
              font-weight: 600;
              font-size: 14px;
            }

            </style>
            <% @activities.each do |a| %>

            <div style="background: #FFFFFF url('<%= a.image.url(:trending) %>') no-repeat left top; background-size: auto 150px" class="col-md-10 col-md-offset-1 search-result-list">
                <div class="col-md-6 col-md-offset-3 search-result-list-details">
                  <span><%= link_to a.activity_name, activity_path(a.id), class: "search-result-list-activity-name" %></span>
                  <span class="search-result-list-location"><%= a.location_name %> </span>
                  <span class="search-result-list-date"><%= a.datetime.strftime("%A, %B #{a.datetime.day.ordinalize} at %-I:%M %p") %></span>
                </div>
                <div class="search-result-list-join">
                  <%= link_to "Join Us!", activity_path(a.id), class: "btn btn-default btn-sm" %>
                </div>
                <div class="search-result-list-attending">
                  <% User.limit(4).find(a.rsvps.map {|r| r.user_id}).each do |u| %>
                    <%= profile_img_small(u) unless u.nil? %>
                  <% end %>
                  <%= "+#{a.rsvps.count - 4}" if a.rsvps.count > 4 %>
                </div>
            </div>
   
          <% end %>
        </div>
      </div>
    </div>