<div class="container">
  <div class="row">
    <%= render 'profile/edit_nav' %>
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-md-9">
            <div class="form-group">
              <div class="row">
                <h2>Tell us a little about your interests...</h2>
                <%= form_tag '/interests/update', method: :put do %>
                    <% @interests.each_with_index do |interest, index| %>
                        <div class="col-lg-4">
                          <% if current_user.interests.pluck(:id).include? interest.id %>
                              <div class="col-sm-3"><%= check_box_tag "interests[#{interest.code}]", 1, true %></div>
                          <% else %>
                              <div class="col-sm-3"><%= check_box_tag "interests[#{interest.code}]", 1, false %></div>
                          <% end %>
                          <div class="col-sm-9"><%= interest.name %></div>
                        </div>
                    <% end %>
                    <%= submit_tag 'Update', class: 'btn btn-primary' %>
                <% end %>
                <%= link_to 'Not now', root_path %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

