<div class="container">
  <div class="row">
    <%= render 'profile/edit_nav' %>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-md-9">
          <div class="form-group">
            <div class="row">
              <h2>Tell us a little about your interests...</h2>
              <%= form_tag '/interests/update', method: :put do %>
                  <%= hidden_field_tag :first_time, @first_time %>
                  <% @interests.each do |interest| %>
                      <div class="col-sm-6 col-md-6 col-lg-4">
                        <%= check_box_tag "interests[#{interest.code}]", 1, (current_user.interests.pluck(:id).include?(interest.id)) %>
                        <%= label_tag "interests[#{interest.code}]", interest.name %>
                        <% if interest.interests_options.present? %>
                            <%= select_tag "interests_options[#{interest.code}]",
                                           options_from_collection_for_select(interest.interests_options.order(:option_value),
                                                                              'id', 'option_value', interest.interests_option_id(current_user.id)),
                                           prompt: interest.interests_options.first.option_name, style: 'display:none' %>
                        <% end %>
                      </div>
                  <% end %>
                  <div class="clearfix"></div>
                  <div class="row">
                    <div class="col-md-12">
                      <%= submit_tag @first_time ? 'Save' : 'Update', class: 'btn btn-primary pull-left' %>
                      <% if true %>
                          <%= link_to 'Not now', root_path, class: 'pull-right m-t-sm m-r-25-o' %>
                      <% end %>
                    </div>
                  </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

    $(function () {
        $('input:checked').each(function () {
            var optionBox = $('#' + getOptionBoxId($(this).attr('id')));
            if (optionBox) {
                optionBox.show();
            }
        });

        $('input[type="checkbox"]').click(function (e) {
            $('#' + getOptionBoxId(e.target.id)).toggle();
        });
    });

    function getOptionBoxId(checkBoxId) {
        var splitId = checkBoxId.split('_');
        splitId.splice(1, 0, 'options');
        return splitId.join('_');
    }

</script>

