<%= flash_messages %>
<div class="container">
  <div class="row">
    <%= current_user ? render('layouts/side_nav') : render(nil) %>
    <div class="col-md-8">
    	<%= form_tag alert_create_path, method: 'POST' do %>
	      <div class="panel" style="padding:25px">
	      	<p class="lead">Create an Alert</p>
	      	<h4 style="margin-top:-25px;margin-bottom:25px"><smalL>Receive a daily email of new activities based on your interests.</small></h4>
	      	<div class="input-group input-group-lg">
						<%= search_field_tag :keywords, nil, placeholder: "What you're looking for...", class: "form-control" %>
						<span class="input-group-btn">
              <%= submit_tag "Create", class: "btn btn-info" %>
            </span>
          
          </div><!-- /input-group -->
          <h5> within <strong><a href="#">5 miles</a></strong> of <strong><a href="#">Denver, CO</a></strong></h5>
        <% end %>
	      </div>
	      <div class="panel" style="padding:25px">
	      	<p class="lead">Current Alerts</p>
	      	<% if current_user.alerts.count > 0 %>
	      		<div>
	      			<% current_user.alerts.each do |a| %>
	      				<div >
	      					<h5>"<%= a.keywords %>" within <%= a.distance %> miles of <%= a.location %> <%= link_to '', alert_path(a), method: :delete, class: 'glyphicon glyphicon-trash pull-right'%><span class=""></span></h5>
	      				</div>
	      			<% end %>
	      		</div>
	      	<% else %>
	      		<h5>No alerts have been creaetd</h5>
	      	<% end %>
	      </div>
      </div>
    </div>
  </div>
</div>