<div class="container">
  <div class="row">
    <%= current_user ? render('layouts/side_nav') : render(nil) %>
    <div class="col-md-8">
    	<%= form_tag alert_create_path, method: 'POST' do %>
	      <div class="panel" style="padding:25px">
	      	<p class="lead">Create an Alert</p>
	      	<h4 style="margin-top:-25px;margin-bottom:25px"><smalL>Receive a daily email of new activities based on your interests.</small></h4>
	      	<div class="input-group input-group-lg">
						<%= search_field_tag :terms, nil, placeholder: "What you're looking for...", class: "form-control" %>
						<span class="input-group-btn">
              <%= submit_tag "Create", class: "btn btn-info" %>
            </span>
          
          </div><!-- /input-group -->
          <div style="display:none;" id="search-terms">
            <h5>within
            <div class="btn-group" id="distance-dropdown">
              <a style="cursor: pointer" class="dropdown-toggle" data-toggle="dropdown">
                <input type="hidden" name="distance" class="hidden-input" value="25">
                <strong><span class="selection">25</span></strong>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">5</a></li>
                <li><a href="#">25</a></li>
                <li><a href="#">50</a></li>
                <li><a href="#">100</a></li>
                <li><a href="#">200</a></li>
              </ul>
            </div>
            miles of
            <div class="btn-group" id="location-dropdown">
              <a style="cursor: pointer" class="dropdown-toggle" data-toggle="dropdown">
                <input type="hidden" id="location" name="location" class="hidden-input" value="Denver, CO">
                <strong><span id="selection" class="selection"></span></strong>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Denver, CO</a></li>
                <li><a href="#">Pittsburgh, PA</a></li>
              </ul>
            </div>
          </h5>
        </div>
        <% end %>
	      </div>
	      <div class="panel" style="padding:25px">
	      	<p class="lead">Current Alerts</p>
	      	<% if current_user.alerts.count > 0 %>
	      		<div>
	      			<% current_user.alerts.each do |a| %>
	      				<div >
	      					<h5>"<%= a.keywords %>" within <%= a.distance %> miles of <%= a.location %> <%= link_to '', alert_path(a), method: :delete, class: 'glyphicon glyphicon-trash pull-right'%><span class=""></span></h5>
	      				</div>
	      			<% end %>
	      		</div>
	      	<% else %>
	      		<h5>No alerts have been created</h5>
	      	<% end %>
	      </div>
      </div>
    </div>
  </div>
</div>


<script>

  $(".dropdown-menu li a").click(function(){
    $(this).parents(".btn-group").find('.selection').text($(this).text());
    $(this).parents(".btn-group").find('.selection').val($(this).text());
    $(this).parents(".btn-group").find('.hidden-input').val($(this).text());
  });

  $(function () { 

    // Get browser location and set selectors
    function getLocation() {
      if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(getCity);
      } else {
          $('#selection').text('Denver, CO');
          $('#search-terms').show();
      }
    }
    function getCity(position) {
      latitude = position.coords.latitude;
      longitude = position.coords.longitude

     $.get( "/geocode/search.json", {location: latitude + "," + longitude}, function( data ) {
          $('#location').val(data.location);
          $('#selection').text(data.location);
          $('#search-terms').show();
        });
    };
    getLocation();
  });

  $('#date-dropdown').on('hide.bs.dropdown', function () {
    //$(this)
  });

</script>