<div class="container">
  <div class="row center-block" style=" text-align:center; margin-bottom:5px">
    <div class="panel panel-body">
		<div class="col-md-12 column">
			<div class="row clearfix">
				<div class="col-md-12 column bigpadtop">
					<h1 class="smallpadtop">
						What we're about
					</h1>
					<p class="small lead bigpadtop">
						We’re focused on helping people make real connections and explore their world. We create products with ourselves, friends, and family in mind. We believe in improving the local community and we act by providing services to non-profits and encouraging community service activities.
					</p>
				</div>
			</div>
		</div>
    </div>
  </div>
</div>

<div class="container bigpadbottom">
  <div class="row center-block" style=" text-align:center; margin-bottom:5px">
    <div class="panel panel-body">
		<div class="col-md-12 column">
			<div class="row clearfix">
				<div class="text-center col-md-3 column bigpadtop">
					<%=image_tag 'Keefe2.png', style: 'height: 100px; width: 100px;', class: 'profile-img'%>
				</div>
				<div class="col-md-9 column bigpadtop">
					<h1 class="smallpadtop"><small>Steve Keefe</small></h1>
					<p class="small lead">
						Steve is constantly focused on our customers, the product, and breaking the status quo. Prior to Denver, he's called Atlanta, London, Madrid, San Francisco and Randolph, Massachusetts home. Steve has a broad background in software and professional services as well as a special fondness for kickball!
					</p>
				</div>
			</div>
		</div>
    </div>
  </div>
  <div class="row center-block" style=" text-align:center; margin-bottom:5px">
    <div class="panel panel-body">
		<div class="col-md-12 column smallpadtop">
			<div class="row clearfix">
				<div class="text-center col-md-3 column bigpadtop">
					<%=image_tag 'Davis-TwoNoo_Head_Shot.png', style: 'height: 100px;', class: 'profile-img' %>
				</div>
				<div class="col-md-9 column bigpadtop">
					<h1 class="smallpadtop"><small>Eric Davis</small></h1>
					<p class="small lead">
						Eric brings vast legal and startup expertise to the team. He is an avid outdoorsman and world traveler along with being Managing Partner of Elliott & Davis, PC – a law firm recognized as a regional leader in the development and support of tech and innovation focused organizations.
					</p>
				</div>
			</div>
		</div>
    </div>
  </div>
  <div class="row center-block" style=" text-align:center; margin-bottom:5px">
    <div class="panel panel-body">
		<div class="col-md-12 column smallpadtop">
			<div class="row clearfix">
				<div class="text-center col-md-3 column bigpadtop">
					<%=image_tag 'Brandon.png', style: 'height: 100px;', class: 'profile-img' %>
				</div>
				<div class="col-md-9 column bigpadtop">
					<h1 class="smallpadtop"><small>Brandon Jernigan</small></h1>
					<p class="small lead">
						Brandon is a rare combination of technical superstar and creative designer. He is tireless in keeping the site fresh, clean, and on the bleeding edge. Brandon also has a keen eye for photography which he uses to capture some eye-popping images.
					</p>
				</div>
			</div>
		</div>
    </div>
  </div>
</div>


<script>
  $(function() {
    $.vegas({
      src:'<%= asset_path 'backgrounds/1.jpg' %>'
    })('overlay', {
      src:"<%= asset_path 'overlays/05.png' %>"
    });
    $.vegas('slideshow', {
      delay:10000,
      backgrounds:[
      { src: '<%= asset_path 'backgrounds/1.jpg' %>', fade:1000 },
      { src: '<%= asset_path 'backgrounds/2.jpg' %>', fade:1000, valign:'70%' },
      { src: '<%= asset_path 'backgrounds/3.jpg' %>', fade:1000 },
      { src: '<%= asset_path 'backgrounds/4.jpg' %>', fade:1000 }
      ]
    })('overlay');
  });

</script>
