<div class="container">
  <div class="row center-block" style=" text-align:center; margin-bottom:5px">
    <div class="panel panel-body">
      <h3>Privacy Policy</h3>
      <h5>Updated 9.20.14</h5>
       <div class="WordSection1">
        <p style="text-align:justify;text-justify:inter-ideograph"><span><o:p>&nbsp;</o:p></span></p>

        <p style="text-align:justify;text-justify:inter-ideograph"><span>TWONOO.COM (the "<u>Site</u>"),
        operated solely by <span class="SpellE">TwoNoo</span>, LLC ("<u>we</u>"
        or "<u>us</u>"), respects the privacy of our site visitors (Users)
        and has developed this Privacy Policy to articulate our commitment to
        protecting your privacy.<o:p></o:p></span></p>

        <p style="text-align:justify;text-justify:inter-ideograph"><span>This Privacy Policy is intended to
        explain and describe the information we collect, how that information may be
        used, with whom it may be shared, and your choices about such uses and
        disclosures, to you as an individual who is a User of the Site or of the
        services offered on the Site (collectively with the Site, the
        "Services").<span style="mso-spacerun:yes">&nbsp; </span><o:p></o:p></span></p>

        <p style="text-align:justify;text-justify:inter-ideograph"><span>We strongly encourage you to read
        and understand this Privacy Policy fully before using the Services. By
        accessing the Services, you acknowledge and agree that you have read, fully
        accept, and will abide by this Privacy Policy.<o:p></o:p></span></p>

        <p style="text-align:justify;text-justify:inter-ideograph"><b style="mso-bidi-font-weight:normal"><span style="font-size:14.0pt;font-family:
        Calibri">Information Collected<o:p></o:p></span></b></p>

        <p style="text-align:justify;text-justify:inter-ideograph"><b><span>Information We Collect About You.<span style="mso-spacerun:yes">&nbsp; </span></span></b><span style="font-size:11.5pt;
        font-family:Calibri">Generally, we do not collect identifiable personal
        information about you. Some of the information we do collect, while not
        specifically identifying you, may possibly identify you when combined with
        other information, such as email address or name. We do collect non-personal
        information about you, activities, such as interests, likes and dislikes, or
        places visited.<o:p></o:p></span></p>

        <p style="text-align:justify;text-justify:inter-ideograph"><b><span>Information You Provide.<span style="mso-spacerun:yes">&nbsp; </span></span></b><span style="font-size:11.5pt;
        font-family:Calibri;mso-bidi-font-weight:bold">The information you provide
        through the website or the app may be collected and stored. Additional
        information from other sources, such as related services, may be recorded as
        well.<b><span style="mso-spacerun:yes">&nbsp; </span></b></span><span>We do not currently ask for many
        items of identifiable information, though we may request or require name, email
        address, home address and telephone number. <b><o:p></o:p></b></span></p>

        <p style="text-align:justify;text-justify:inter-ideograph"><b><span>Public Information</span></b><span>.<span style="mso-spacerun:yes">&nbsp; </span>By building a Profile on the Site, you
        create a profile of non-identifiable information, including, but not limited
        to, personal descriptive information, desired activities, gender, photographs, etc.
        The Site allows you to share information publicly and to share information
        other users. Whatever information you choose to provide through these services
        is viewable by the general public, and may be recorded. Please use your own
        judgment and caution when revealing any personal information into the public
        areas of the site and services.<span style="mso-spacerun:yes">&nbsp; </span><o:p></o:p></span></p>

        <p style="text-align:justify;text-justify:inter-ideograph"><b><span>Financial Information</span></b><span>.<span style="mso-spacerun:yes">&nbsp; </span>We do not collect personal financial
        information, including credit card numbers, expiration dates, or related
        financial information. All payment information is gathered and maintained by a third
        party processor, Stripe, and all information regarding payment is subject to
        the processor’s terms of service and privacy policies.<span style="mso-spacerun:yes">&nbsp; </span>We may however, request and receive
        information from our Payment processor, to facilitate or complete transactions
        you initiate through the Site, or to identify and protect against possible
        fraudulent transactions. <o:p></o:p></span></p>

        <p style="text-align:justify;text-justify:inter-ideograph"><b><span>Demographic and Usage Information</span></b><span>.<span style="mso-spacerun:yes">&nbsp; </span>Information of a non-personal nature may
        be collected; such as age, gender, activities, interests, as well as your
        history on and through the Site. Such information is not of a personal nature,
        but may yield personal information when used in combination with other
        information.<o:p></o:p></span></p>

        <p style="text-align:justify;text-justify:inter-ideograph"><b><span>Aggregated Information</span></b><span>.<span style="mso-spacerun:yes">&nbsp; </span>We may share non-personal or aggregated
        information.<span style="mso-spacerun:yes">&nbsp; </span>We may also share it
        with third parties to develop and deliver targeted content and advertising
        through our Site and third party websites. Non-personal or aggregate data from
        this site may be further aggregated with similar data obtained from other sites
        and similarly shared. This information does not contain any personal
        information and may be used to develop website content and services that we
        hope you and other users will find of interest and to target content and
        advertising.<o:p></o:p></span></p>

        <p style="text-align:justify;text-justify:inter-ideograph"><b><span>Location Information.<span style="mso-spacerun:yes">&nbsp; </span></span></b><span style="font-size:11.5pt;
        font-family:Calibri">By voluntarily opting to use any of our location-based
        services, we may collect and store information about your location at the time
        you use those services. The information recorded may differ, depending on the
        method chosen to access the services. Many mobile devices currently transmit
        their GPS data while accessing the site; transmission and control of such
        information is solely the responsibility of the User.<o:p></o:p></span></p>

        <p style="text-align:justify;text-justify:inter-ideograph"><span class="GramE"><b><span>Third Party Sources</span></b><span> <b style="mso-bidi-font-weight:
        normal">of Information</b>.</span></span><span style="font-size:11.5pt;
        font-family:Calibri"><span style="mso-spacerun:yes">&nbsp; </span>Periodically,
        we may obtain non-personal or personal data regarding you from third parties;
        associated sites, business partners, contractors, and third party platforms.<span style="mso-spacerun:yes">&nbsp; </span>The use of or connection to the Site by
        or through a third party platform, such as Facebook, Google Plus, LinkedIn or
        other social networking site, allows us to access and/or collect certain
        information from your third party platform profile/account or via any cookies
        placed on your device by such third party platform as permitted by the terms of
        the agreement and your privacy settings with the third party platform. We will
        share such information with the third party Platform for their use as permitted
        by the terms of the agreement and your privacy setting with the third party platform.<span style="mso-spacerun:yes">&nbsp; </span>This information may be added to our
        account information about you or be used for analytic purposes.<o:p></o:p></span></p>

        <p style="text-align:justify;text-justify:inter-ideograph"><b><span>Information About Users You Interact
        With On The Site</span></b><span>.<span style="mso-spacerun:yes">&nbsp; </span>From time to time, we may store
        information, either personal or non-personal, that you provide us about others.
        If you use the Site to contact others, we may store the information, such as
        name and email address of each recipient, in order to facilitate and complete
        that, and future, transactions.<o:p></o:p></span></p>

        <p style="text-align:justify;text-justify:inter-ideograph"><span class="GramE"><b><span>Information
        Collected Using Cookies and Similar Technologies</span></b><span>.</span></span><span><span style="mso-spacerun:yes">&nbsp; </span>The Site may automatically collect information
        from your browser each time you access the Site. This information usually includes
        your IP address, language, browser, referring sites, time and date, and the
        content of any cookies previously accepted from the Site.<span style="mso-spacerun:yes">&nbsp; </span>When accessing the Site, we may assign
        your computer one or more cookies, facilitating access to the Site and personalizing
        your experience. By using cookies, we also may automatically collect
        information about activity related to the Site, such as web pages visited,
        links clicked through, and searches conducted. Most popular browsers
        automatically accept cookies, but you can usually modify your browser’s settings
        to decline some or all cookies. Please note<span class="GramE">,</span> if you opt
        to decline cookies, you may not be able to sign in or utilize some of the
        interactive features offered by the Site.<span style="mso-spacerun:yes">&nbsp;
        </span><span style="mso-bidi-font-weight:bold">In an effort to track your use
        of the Site, we may use the standard array of Internet technologies, including
        web beacons. Beacons may also be used </span>in advertisements or promotional
        or other e-mail messages or to determine whether messages have been opened and
        acted upon. Information obtained in this way assists us in customizing the Site
        experience for you. It allows <span class="GramE">us to deliver targeted
        information and to measure the effectiveness of our programming, features,
        content and activities</span>. <o:p></o:p></span></p>

        <p style="text-align:justify;text-justify:inter-ideograph"><b><span>Third-Party Websites</span></b><span>.<span style="mso-spacerun:yes">&nbsp; </span>Through the Site, you may be able to
        click on a link to access other websites that do not operate under this Privacy
        Policy. These third-party websites may independently solicit and collect
        information, including personal information, from you and, in some instances,
        provide us with information about your activities on those websites. We
        strongly recommend that you consult the privacy policies of all third-party
        websites you visit by clicking on the "privacy" link typically
        located at the bottom of the webpage you are visiting.<o:p></o:p></span></p>

        <p style="text-align:justify;text-justify:inter-ideograph"><span><o:p>&nbsp;</o:p></span></p>

        <p style="text-align:justify;text-justify:inter-ideograph"><b style="mso-bidi-font-weight:normal"><span style="font-size:14.0pt;font-family:
        Calibri">Use of Information<o:p></o:p></span></b></p>

        <p style="text-align:justify;text-justify:inter-ideograph"><b><span>How We Use Information We Collect</span></b><span>.<span style="mso-spacerun:yes">&nbsp; </span>The information we collect through your
        contact with the Site is used for many purposes.<span style="mso-spacerun:yes">&nbsp; </span>We use this information to personalize your
        use of the Site, manage your Profile, provide support and analyze your use of
        the Site.<span style="mso-spacerun:yes">&nbsp; </span>We will also use this
        information to communicate with you through email, telephone, postal mail,
        and/or mobile devices.<span style="mso-spacerun:yes">&nbsp; </span><o:p></o:p></span></p>

        <p style="text-align:justify;text-justify:inter-ideograph"><b><span>Service Providers.<span style="mso-spacerun:yes">&nbsp; </span></span></b><span style="font-size:11.5pt;
        font-family:Calibri;mso-bidi-font-weight:bold">From time to time, we may share
        your personal information, including name, email address, and contact
        information with our authorized agents and service providers, to allow them to
        perform services on our behalf. </span><span style="font-size:11.5pt;
        font-family:Calibri">These services may include maintaining our servers<span class="GramE">, <span style="mso-spacerun:yes">&nbsp;</span>providing</span>
        customer service and marketing assistance, performing business and sales
        analysis, supporting the functionality of the Site, providing payment
        fulfillment and reconciliation services, surveys and other features. These
        agents and service providers may have access to personal information needed to
        perform their functions but are not permitted to share or use such information
        for any other purposes.<b><o:p></o:p></b></span></p>

        <p style="text-align:justify;text-justify:inter-ideograph"><b><span>Business Partners</span></b><span style="font-size:11.5pt;font-family:Calibri;mso-bidi-font-weight:bold">.<span style="mso-spacerun:yes">&nbsp; </span>If you make purchases or engage in
        promotions offered through the Site, we may share your personal information
        with businesses and third party platforms that we partner with to offer you
        products, services, and promotions. </span><span style="font-size:11.5pt;
        font-family:Calibri">We will always provide you with the opportunity not to
        share information with these businesses.<span style="mso-spacerun:yes">&nbsp;
        </span>Our Third party associates to whom we disclose information may have
        their own privacy policies that will govern the use of information after it has
        been transmitted to them. To answer questions regarding policies for their
        handling and use of information, we encourage you to visit their websites.<o:p></o:p></span></p>

        <p style="text-align:justify;text-justify:inter-ideograph"><b><span>Law Enforcement/Legal</span></b><span style="font-size:11.5pt;font-family:Calibri;mso-bidi-font-weight:bold">.<span style="mso-spacerun:yes">&nbsp; </span>We will comply with a demand for
        personal information when made as a subpoena, court order, </span><span>a request for cooperation from law
        enforcement or other government agencies; to establish or exercise our legal
        rights; to defend against legal claims; or as otherwise required by law. In
        such cases, we may raise or waive any legal objection or right available to us.<span style="mso-bidi-font-weight:bold"><span style="mso-spacerun:yes">&nbsp; </span></span>We
        will also release information when we believe that such disclosure is appropriate
        in connection with efforts to investigate, prevent, or take other action
        regarding illegal activity, suspected fraud or other wrongdoing; to protect and
        defend the rights, property or safety of our company, our users, our employees,
        or others; to comply with applicable law or cooperate with law enforcement; or
        to enforce our Terms of Use.<span style="mso-bidi-font-weight:bold"><o:p></o:p></span></span></p>

        <p style="text-align:justify;text-justify:inter-ideograph"><span><o:p>&nbsp;</o:p></span></p>

        <p style="text-align:justify;text-justify:inter-ideograph"><b style="mso-bidi-font-weight:normal"><span style="font-size:14.0pt;font-family:
        Calibri">Information Management<o:p></o:p></span></b></p>


        <p style="text-align:justify;text-justify:inter-ideograph"><b><span>Profile Information.<span style="mso-spacerun:yes">&nbsp; </span></span></b><span style="font-size:11.5pt;
        font-family:Calibri;mso-bidi-font-weight:bold">As a User with a Profile, you
        reserve the ability to review or edit the information you have provided us by
        logging into your account and using the “Profile” link.<span style="mso-spacerun:yes">&nbsp; </span>Similarly, you can review or edit your
        information available to the public on this page.<span style="mso-spacerun:yes">&nbsp; </span></span><span style="font-size:11.5pt;
        font-family:Calibri">You have full freedom as to what information to provide us
        with, but limiting the information requested may result in your being unable to
        fully enjoy or access portions of the site.<span style="mso-spacerun:yes">&nbsp; </span>If you are a User with a Profile, your profile
        information may be shared publicly.<span style="mso-spacerun:yes">&nbsp;
        </span><o:p></o:p></span></p>


        <p style="text-align:justify;text-justify:inter-ideograph"><b><span>Removing Your Information by
        Deleting Your Profile</span></b><span>.<span style="mso-spacerun:yes">&nbsp; </span>You can opt to delete your Profile at
        any time by using the Profile link on the Site.<span style="mso-spacerun:yes">&nbsp; </span>Once you have deleted your Profile, you
        will no longer be able to add or join activities, create alerts, purchase
        credits, get notifications or communicate with other site Users.<span style="mso-spacerun:yes">&nbsp; </span>Your public profile will no longer be
        accessible through the Site, but it may already have been cached by Internet search
        <span class="GramE">engines<span style="mso-spacerun:yes">&nbsp; </span>and</span>
        therefore available.<span style="mso-spacerun:yes">&nbsp; </span><o:p></o:p></span></p>


        <p style="text-align:justify;text-justify:inter-ideograph"><span class="GramE"><b><span>Retention of
        information</span></b><span>.</span></span><span><span style="mso-spacerun:yes">&nbsp; </span>After your Profile has been deleted,
        certain portions of your information may be retained for analytical purposes
        and recordkeeping. Such information may also be used to collect fees owed,
        prevent fraud, enforce the <a style="mso-comment-reference:ED_2;mso-comment-date:
        20140921T1123">Terms of Service </a></span><span class="MsoCommentReference"><span style="font-size:9.0pt"><!--[if !supportAnnotations]--><a class="msocomanchor" id="_anchor_2" onmouseover="msoCommentShow('_anchor_2','_com_2')" onmouseout="msoCommentHide('_com_2')" href="#_msocom_2" language="JavaScript" name="_msoanchor_2">[ED2]</a><!--[endif]--><span style="mso-special-character:comment">&nbsp;</span></span></span><span>take actions we deem necessary to
        protect the integrity of our web site or our Users, or take other actions
        otherwise permitted by law. Further, because of the complexities of the
        technology involved, we cannot guarantee total or irrevocable deletion of your
        Profile information, and we cannot provide you with any specific timelines for
        deletion. In addition, if certain information has already been provided to third
        parties as described in this Privacy Policy, retention of that information will
        be subject to those third parties' policies.<o:p></o:p></span></p>

        <p style="text-align:justify;text-justify:inter-ideograph"><b><span><o:p>&nbsp;</o:p></span></b></p>

        <p style="text-align:justify;text-justify:inter-ideograph"><b><span style="font-size:14.0pt;font-family:Calibri">Information Security<o:p></o:p></span></b></p>

        <p style="text-align:justify;text-justify:inter-ideograph"><b><span>Protecting Personal Information</span></b><span>.<span style="mso-spacerun:yes">&nbsp; </span>We take security quite seriously, and
        employ a variety of measures to ensure its safety. These include physical,
        procedural, legal and electronic measures. Only authorized employees and third
        parties who have agreed to our confidentiality requirements may be permitted to
        access personal information, and they may do so only for permitted business
        functions. In addition, we use SSL encryption in the transmission of your
        sensitive personal information between your system and ours, and we use
        firewalls to help prevent unauthorized persons from gaining access to your
        personal information.<span style="mso-spacerun:yes">&nbsp; </span>We want you
        to feel confident using the Services. However, no system can be completely
        secure. Therefore, although we take steps to secure your information, we do not
        promise, and you should not expect, that your personal information, searches, or
        other communications <span class="GramE">will</span> always remain secure. Users
        should also take care with how they handle and disclose their personal
        information and should avoid sending personal information through insecure
        e-mail.<o:p></o:p></span></p>

        <p style="text-align:justify;text-justify:inter-ideograph"><b><span>Children</span></b><span>.<span style="mso-spacerun:yes">&nbsp; </span>Although the site is meant for a general
        audience, we restrict their use to individuals age 18 and above. We do not
        knowingly seek or collect personal information from minor children.<o:p></o:p></span></p>

        <p style="text-align:justify;text-justify:inter-ideograph"><span><o:p>&nbsp;</o:p></span></p>


        <p style="text-align:justify;text-justify:inter-ideograph"><b style="mso-bidi-font-weight:normal"><span style="font-size:14.0pt;font-family:
        Calibri">General Privacy Policy Terms<o:p></o:p></span></b></p>

        <p style="text-align:justify;text-justify:inter-ideograph"><b><span>Visiting the Site from Outside the
        United States</span></b><span>.<span style="mso-spacerun:yes">&nbsp; </span>This Privacy Policy is intended to cover
        collection of information from residents of the United States. If you are
        accessing the Services from outside the United States, please be aware that
        your information may be transferred to, stored, and processed in the United
        States where our servers are located. The data protection and other laws of the
        United States and other countries might not be as comprehensive as those in
        your country. Please be assured that we seek to take reasonable steps to ensure
        that your privacy is protected. By using the Site, you understand that your
        information may be transferred to our facilities and those third parties with
        whom we share it as described in this Privacy Policy.<o:p></o:p></span></p>

        <p style="text-align:justify;text-justify:inter-ideograph"><span class="GramE"><span>R<b>ights of Third
        Parties</b>.</span></span><span><span style="mso-spacerun:yes">&nbsp; </span>This Privacy Policy does not create
        rights enforceable by third parties or require disclosure of any personal
        information relating to users of the Site. <o:p></o:p></span></p>

        <p style="text-align:justify;text-justify:inter-ideograph"><b><span>In the Event of a Merger, Sale, or
        Bankruptcy</span></b><span>.<span style="mso-spacerun:yes">&nbsp; </span>In the event that we or any portion of
        the business represented by the Site, are merged with or acquired by a third
        party entity, we reserve the right, in any of these or similar circumstances,
        to transfer or assign any or all of the information we have collected as part
        of such merger, acquisition, sale, or other change of ownership or control.<span style="mso-spacerun:yes">&nbsp; </span>In the event of our bankruptcy,
        insolvency, reorganization, receivership, or assignment for the benefit of
        creditors, or the application of laws or equitable principles affecting
        creditors' rights generally, we may not be able to control how your personal
        information is treated, transferred, or used.<o:p></o:p></span></p>

        <p style="text-align:justify;text-justify:inter-ideograph"><span class="GramE"><b><span>Changes to
        the Privacy Policy</span></b><span>.</span></span><span><span style="mso-spacerun:yes">&nbsp; </span>We will occasionally update this Privacy
        Policy to reflect changes in our practices and in the Site itself. When we post
        changes to the Privacy Policy, we will revise the "last updated" date
        at the top of this Privacy Policy. If we make any material changes in the way
        we collect, use, and/or share your personal information, we will notify you by
        sending an e-mail to the e-mail address you most recently provided us in your
        Profile (unless we do not have such an e-mail address), and/or by prominently
        posting notice of the changes through the Site. We recommend that you check the
        Site from time to time to inform yourself of any changes in this Privacy Policy
        or any of our other policies.<o:p></o:p></span></p>

        <p style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;margin-left:
        0in;text-align:justify;text-justify:inter-ideograph"><b style="mso-bidi-font-weight:
        normal"><span>Questions</span></b><span>.<span style="mso-spacerun:yes">&nbsp; </span></span><span style="font-size:11.0pt;
        font-family:Calibri;mso-ascii-theme-font:major-latin;mso-hansi-theme-font:major-latin;
        mso-bidi-font-family:Baskerville">Please contact us at&nbsp;</span><a href="mailto:legal@twonoo.com"><span style="font-size:11.0pt;font-family:Calibri;
        mso-ascii-theme-font:major-latin;mso-hansi-theme-font:major-latin">legal@twonoo.com</span></a><span style="font-size:11.0pt;font-family:Calibri;mso-ascii-theme-font:major-latin;
        mso-hansi-theme-font:major-latin"> </span><span style="font-size:11.0pt;
        font-family:Calibri;mso-ascii-theme-font:major-latin;mso-hansi-theme-font:major-latin;
        mso-bidi-font-family:Baskerville">with any questions regarding our Privacy
        Policy.<o:p></o:p></span></p>

        <p style="text-align:justify;text-justify:inter-ideograph"><span><o:p>&nbsp;</o:p></span></p>

        </div>
    </div>
  </div>
</div>

<script>
  $(function() {
    $.vegas({
      src:'<%= asset_path 'backgrounds/1.jpg' %>'
    })('overlay', {
      src:"<%= asset_path 'overlays/05.png' %>"
    });
    $.vegas('slideshow', {
      delay:10000,
      backgrounds:[
      { src: '<%= asset_path 'backgrounds/1.jpg' %>', fade:1000 },
      { src: '<%= asset_path 'backgrounds/2.jpg' %>', fade:1000, valign:'70%' },
      { src: '<%= asset_path 'backgrounds/3.jpg' %>', fade:1000 },
      { src: '<%= asset_path 'backgrounds/4.jpg' %>', fade:1000 }
      ]
    })('overlay');
  });

</script>
