<div class="container">
  <div class="row center-block" style=" text-align:center; margin-bottom:5px">
    <div class="panel panel-body">
       <h3> TwoNoo – Terms of Service </h3>
       <h5>Updated 10/01/14</h5>
       <div>
        <div class="WordSection1">
          <p style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;margin-left:
          0in;text-align:justify;text-justify:inter-ideograph"><span style="font-size:
          11.0pt;font-family:Calibri">Before using the Site, you must agree to these
          Terms of Use (Terms) and our<span class="apple-converted-space">&nbsp;</span></span><span style="font-size:11.0pt;
          font-family:Calibri;color:windowtext;text-decoration:none">Privacy Policy</span><span>, whether or not you register as a
          user (User) or build a profile (Profile).<span class="apple-converted-space">&nbsp;
          <b>If you do not agree to these Terms, you are prohibited from use of the site.</b></span></span></p>

          <p style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;margin-left:
          0in;text-align:justify;text-justify:inter-ideograph"><span class="apple-converted-space"><span>The
          Terms and Privacy Policy may change at any time, with any changes being posted
          on the Site.&nbsp; By continuing to use the Site after such a posting, you
          agree to the updated Terms of Service and Privacy Policy.</span></span></p>

          <p style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;margin-left:
          0in;text-align:justify;text-justify:inter-ideograph"><span style="font-size:
          11.0pt;font-family:Calibri">Our Site is under continual development and
          improvement, and features will be regularly added and modified to improve the Site
          experience. Some portion of these Terms may refer to functionality not yet
          complete or available to Users. Those parts of these Terms will be in effect
          when the relevant parts of the Site become available. </span></p>

          <p style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;margin-left:
          0in;text-align:justify;text-justify:inter-ideograph"><strong><span>Adult Users Only</span></strong><span>.&nbsp; The Site is intended only for
          individuals 18 years of age or older.<span class="apple-converted-space">&nbsp; </span><strong><span style="font-family:Calibri">If you are under 18, you are strictly prohibited
          from using the Site</span></strong>.&nbsp; If you are under 18, you may not
          access any features that allow you to provide information to us or communicate and
          share information with other Users. By agreeing to these Terms, you are representing
          and warranting that you are 18 years of age or older and that you have the
          right, authority and capacity to agree, enter and abide by these Terms.</span></p>

          <p style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;margin-left:
          0in;text-align:justify;text-justify:inter-ideograph"><strong><span>Real-World Activities have
          Real-World Risks.</span></strong><strong><span style="font-size:11.0pt;
          font-family:Calibri;font-weight:normal">&nbsp; You are solely responsible for
          your interactions and arrangements with other individuals</span></strong><strong><span style="font-size:11.0pt;font-family:Calibri;font-weight:normal">.&nbsp; You
          expressly understand that we do not screen Users, nor do we make inquiry of our
          Users, or attempt to verify their statements. We cannot warranty or represent;
          the conduct of Users, information communicated by Users, compatibility of
          Users, or arrangements, dates, or schedules, made through the Site. We cannot
          be liable for damages of any kind (general, special, direct, indirect,
          incidental or consequential) arising from or relating to anyone else with
          connection to the Site, including, but not limited to; bodily injury, emotional
          distress, or any damages or harm resulting from meeting or communicating with
          persons met through use of the Site. It is up to you to take reasonable and
          prudent precautions and always exercise the utmost of care when interacting
          with other Users or persons met through the Site, especially when deciding to
          initiate or agreeing to meet in person.&nbsp; Under no circumstances should you
          provide security, financial, or confidential information to other Users.</span></strong></p>

          <p style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;margin-left:
          0in;text-align:justify;text-justify:inter-ideograph"><strong><span>Personal Safety</span></strong><span class="apple-converted-space"><span>&nbsp;</span></span><span>Your safety and security are
          extremely important to us. This Site, through its normal use, promotes the
          exchange of personal information between Users. You must always remain aware
          that some potions of this information are viewable by the public, and as such
          may be indexed by Internet search engines and used for purposes beyond the
          knowledge and control of the Site. We advise you in the strongest terms to use
          caution and carefully consider sharing any personally identifiable information
          with other Users. We cannot and do not assure the safety of contacts made with
          other Users. We do however, encourage you, if you feel at any time that another
          User is harassing or threatening you, to contact your local authorities and us
          at legal@twonoo.com, so we can take the appropriate action to block access to
          the Site for any User violating our Terms. We reserve the right to release
          information pertaining to any User or incident to law enforcement for their
          investigative purposes.</span></p>

          <p style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;margin-left:
          0in;text-align:justify;text-justify:inter-ideograph"><strong><span>Unique and Accurate Profile
          Information</span></strong><strong><span style="font-size:11.0pt;font-family:
          Calibri;font-weight:normal"> In order for the Site to function properly, unique
          and accurate User profile information is necessary. So, you agree that, as a
          User, you will create only one profile on this Site. The information in that
          profile will be honest, accurate, and complete to the best of your
          knowledge.&nbsp; </span></strong><span class="apple-converted-space"><span>You understand that we have the
          right, at any time, to request accurate, current, and complete information
          regarding your eligibility for using the Site, and you agree to provide that
          information if requested.</span></span></p>

          <p style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;margin-left:
          0in;text-align:justify;text-justify:inter-ideograph"><strong><span>Password Security.</span></strong><span class="apple-converted-space"><span>&nbsp;</span></span><span>You understand and agree that you
          are solely responsible for selecting and maintaining the security and
          confidentiality of the username and password you select during the process of
          building your Profile, as well as solely responsible for actions that occur
          under your Profile and password.&nbsp; You understand and agree that you are
          solely responsible for notifying us immediately of a breach in security or
          unauthorized use of your username or password, and for fully logout of our Site
          after each use. You understand and agree that you are responsible for using
          additional care when accessing the Site through a shared or public computer to
          avoid the possibility that others may view your login or personal information.
          When using a shared computer, we advise turning off the automatic sign in option.
          You understand and agree that we will not be liable for any damages resulting
          from your failure to comply with this provision. </span></p>

          <p style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;margin-left:
          0in;text-align:justify;text-justify:inter-ideograph"><strong><span>Use of Others’ Information</span></strong><strong><span style="font-size:11.0pt;font-family:Calibri;font-weight:normal"> Just as your
          safety and enjoyment of the Site is critical to us, so is the safety and
          enjoyment of the other Users. So, by agreeing to these Terms, you agree to use
          any and all information gained through the Site in a lawful and responsible
          manner. You further agree not to use any information gained about other Users
          for any reason without the prior express consent of that User(s). </span></strong></p>

          <p style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;margin-left:
          0in;text-align:justify;text-justify:inter-ideograph"><strong><span>Code of Conduct.</span></strong><span class="apple-converted-space"><span>&nbsp;</span></span><span>By accessing the Site, you agree that
          you: </span></p>

          <p style="margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:.5in;
          margin-bottom:.0001pt;text-align:justify;text-justify:inter-ideograph;
          text-indent:-.25in"><span style="font-size:11.0pt;font-family:Symbol">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span>Will not display, publish, or use
          (Post) any material that is obscene, profane, abusive, defamatory, harassing,
          threatening, sexually oriented, discriminatory, or otherwise offensive or
          illegal. </span></p>

          <p style="margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:.5in;
          margin-bottom:.0001pt;text-align:justify;text-justify:inter-ideograph;
          text-indent:-.25in"><span style="font-size:11.0pt;font-family:Symbol">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span>Will treat all Users with respect
          and dignity.</span></p>

          <p style="margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:.5in;
          margin-bottom:.0001pt;text-align:justify;text-justify:inter-ideograph;
          text-indent:-.25in"><span style="font-size:11.0pt;font-family:Symbol">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span>You will not include personal
          identifying information in your Profile, including telephone numbers, street
          addresses, websites, email addresses or other contact information. Doing so is
          at your own risk and we assume no responsibility for use of such information,
          and recommend against such inclusion.</span></p>

          <p style="margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:.5in;
          margin-bottom:.0001pt;text-align:justify;text-justify:inter-ideograph;
          text-indent:-.25in"><span style="font-size:11.0pt;font-family:Symbol">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span>You will not impersonate any
          person or entity, or use information for anyone other than yourself.</span></p>

          <p style="margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:.5in;
          margin-bottom:.0001pt;text-align:justify;text-justify:inter-ideograph;
          text-indent:-.25in"><span style="font-size:11.0pt;font-family:Symbol">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span>You will not threaten, stalk or
          otherwise harass any User accessing the Site.</span></p>

          <p style="margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:.5in;
          margin-bottom:.0001pt;text-align:justify;text-justify:inter-ideograph;
          text-indent:-.25in"><span style="font-size:11.0pt;font-family:Symbol">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span>You will not express or imply that
          any statements you make are endorsed by us.</span></p>

          <p style="margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:.5in;
          margin-bottom:.0001pt;text-align:justify;text-justify:inter-ideograph;
          text-indent:-.25in"><span style="font-size:11.0pt;font-family:Symbol">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp; </span></span><span>You will not use manual or
          automatic processes to retrieve, index, data mine, or in any way reproduce or
          circumvent the navigational structure or presentation of the Site or their
          contents. This prohibition does not include standard indexing by Internet
          search engines, which hereby is explicitly permitted.</span></p>

          <p style="margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:.5in;
          margin-bottom:.0001pt;text-align:justify;text-justify:inter-ideograph;
          text-indent:-.25in"><span style="font-size:11.0pt;font-family:Symbol">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp; </span></span><span>You will not post, distribute or
          reproduce in any way any copyrighted material, trademarks, or other proprietary
          information without obtaining the prior consent of the owner of such
          proprietary rights.</span></p>

          <p style="margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:.5in;
          margin-bottom:.0001pt;text-align:justify;text-justify:inter-ideograph;
          text-indent:-.25in"><span style="font-size:11.0pt;font-family:Symbol">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span>You will not interfere with or
          disrupt the Site or the servers or networks connected to the Site.</span></p>

          <p style="margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:.5in;
          margin-bottom:.0001pt;text-align:justify;text-justify:inter-ideograph;
          text-indent:-.25in"><span style="font-size:11.0pt;font-family:Symbol">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp; </span></span><span>You will not post, email or
          otherwise transmit any material that contains software viruses or any other
          computer code, files or programs designed to interrupt, destroy or limit the
          functionality of any computer software or hardware or telecommunications
          equipment.</span></p>

          <p style="margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:.5in;
          margin-bottom:.0001pt;text-align:justify;text-justify:inter-ideograph;
          text-indent:-.25in"><span style="font-size:11.0pt;font-family:Symbol">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span>You will not forge headers or
          otherwise manipulate identifiers in order to disguise the origin of any
          information transmitted through the Site.</span></p>

          <p style="margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:.5in;
          margin-bottom:.0001pt;text-align:justify;text-justify:inter-ideograph;
          text-indent:-.25in"><span style="font-size:11.0pt;font-family:Symbol">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span>You will not "frame" or
          "mirror" any part of the Site without our prior written
          authorization. You will not use meta-tags or code or other devices containing
          any reference to the Site in order to direct any person to any other website
          for any purpose.</span></p>

          <p style="margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:.5in;
          margin-bottom:.0001pt;text-align:justify;text-justify:inter-ideograph;
          text-indent:-.25in"><span style="font-size:11.0pt;font-family:Symbol">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp; </span></span><span>You will not modify, adapt,
          sublicense, translate, sell, reverse engineer, decipher, decompile or otherwise
          disassemble any portion of the Site or any software used on or for the Site, or
          cause or assist others to do so.</span></p>

          <p style="margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:.5in;
          margin-bottom:.0001pt;text-align:justify;text-justify:inter-ideograph;
          text-indent:-.25in"><span style="font-size:11.0pt;font-family:Symbol">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span>Will notify us promptly of any
          User's violation of these Terms.</span></p>

          <p style="margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:.5in;
          margin-bottom:.0001pt;text-align:justify;text-justify:inter-ideograph"><span>&nbsp;</span></p>

          <p style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;margin-left:
          0in;text-align:justify;text-justify:inter-ideograph"><strong><span>Compliance with Applicable Laws.</span></strong><span class="apple-converted-space"><span>&nbsp;</span></span><span>All use of the Site, including but
          not limited to all information posted or transmitted by you, shall be in
          accordance to all regulations and laws applicable to you and your use of the
          Site.</span></p>

          <p style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;margin-left:
          0in;text-align:justify;text-justify:inter-ideograph"><strong><span>No Reliance on Content.</span></strong><span class="apple-converted-space"><span>&nbsp;</span></span><span>Due to the unverified nature of
          the communication and information on the Site, all opinions, statements,
          advice, suggestions, offers, or other information and content should not
          necessarily be relied upon. All such information is solely the responsibility
          of the author or poster. We cannot guarantee the completeness or accuracy, nor
          can we endorse, adopt or accept responsibility for any of the information or
          communications appearing on or being transmitted through the Site. </span></p>

          <p style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;margin-left:
          0in;text-align:justify;text-justify:inter-ideograph"><strong><span>Location-Based Services.&nbsp; </span></strong><span>The Site may offer features based
          on the location of Users and/or be equipped to report the current locations of
          Users (Location Based Site). By using the site and features, you consent to
          both the collection and transmission of your location information through the
          site to other Users. The Site is not liable for any claim of harm or damages
          resulting from use of the Location Based Site, used alone or in combination
          with other personal information, gleaned from your profile or other sources. </span></p>

          <p style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;margin-left:
          0in;text-align:justify;text-justify:inter-ideograph"><strong><span>Disclosure by Law.</span></strong><span class="apple-converted-space"><span>&nbsp;You
          understand that we have the right to disclose information you provide the Site
          if required by law, at the request of a third party, or if we, at our sole
          discretion, believe that disclosure is the appropriate method of dealing with
          any issue that arises. Such issues may include, but are not limited to, law
          enforcement requests, court orders, protection of our, or a third party’s
          property or rights, or protection of an individual’s, health or safety.</span></span></p>

          <p style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;margin-left:
          0in;text-align:justify;text-justify:inter-ideograph"><strong><span>Disclosure to Protect Abuse
          Victims.</span></strong><span class="apple-converted-space"><span>&nbsp;We reserve the right, but
          are not obliged, notwithstanding any other provision of this contract, to
          release or disclose any information you submit or transmit to or through the
          Site if, in our sole opinion, there is any reason to suspect that information
          involves a party who may be the victim of any form of abuse. </span></span></p>

          <p style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;margin-left:
          0in;text-align:justify;text-justify:inter-ideograph"><strong><span>Right to Review Content; No Duty
          to Monitor.</span></strong><span class="apple-converted-space"><span>&nbsp;</span></span><span>You understand and agree that we
          have no duty whatsoever to monitor, prescreen, screen, edit, or control the
          content posted by Users on the Site. You understand and agree that we retain
          the right, at our sole discretion, but are not required to monitor, prescreen,
          screen, edit, or control any information or content we judge to be in violation
          of these Terms.</span></p>

          <p style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;margin-left:
          0in;text-align:justify;text-justify:inter-ideograph"><strong><span>Right to Change Site.</span></strong><span class="apple-converted-space"><span>&nbsp;You
          understand and agree that we may, at our sole discretion, alter, change,
          modify, suspend, or cease, in whole or in part, temporarily or permanently, any
          feature, function, or aspect of the Site without notice to you, including, but
          not limited to, changes to access and usage procedures, without any liability
          to you for any such action</span></span><span style="font-size:11.0pt;
          font-family:Calibri"> </span></p>

          <p style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;margin-left:
          0in;text-align:justify;text-justify:inter-ideograph"><strong><span>Right to Terminate or Deny
          Service.</span></strong><span class="apple-converted-space"><span>&nbsp;</span></span><span>You understand that we, at our
          sole discretion, at any time, and with or without reason, may deny use of to
          Site by any User, including the termination of a User’s Profile and ability to
          use the Site. </span></p>

          <p style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;margin-left:
          0in;text-align:justify;text-justify:inter-ideograph"><strong><span>Right to Conduct Research;
          Informed Consent.</span></strong><span class="apple-converted-space"><span>&nbsp;You understand and agree
          that we may, at our sole discretion, anonymously collect and utilize information
          from you or your interaction with the Site to conduct research and evaluation
          of the Site to improve the Site and the user experience with the Site. All
          information collected will be used in accordance with our Privacy Policy.</span></span></p>

          <p style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;margin-left:
          0in;text-align:justify;text-justify:inter-ideograph"><strong><span>Safeguarding User, Activity and
          Profile Information.</span></strong><span class="apple-converted-space"><span>&nbsp;We use industry-standard
          technologies and techniques to safeguard your information and ours on the Site.
          Internet security cannot be assured and we cannot guarantee or warranty that
          the private information provided to the site will not become public under any
          circumstances, though we will actively work against that happening.</span></span></p>

          <p style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;margin-left:
          0in;text-align:justify;text-justify:inter-ideograph"><strong><span>Cost of Using the Site.&nbsp; </span></strong><span>You may become a User at no cost.
          As a User, you will have the ability to use some, but not all, of the available
          features of the Site. In order to post activities on the Site, you will be
          required to purchase credits and build a Profile.&nbsp; </span><span style="font-size:11.0pt;font-family:Calibri;color:#333333">Each credit allows
          you to post an Activity.&nbsp; Credits are only valid at our Site and are not
          redeemable for cash, are nontransferable and no cash refunds will be given for
          unused credits (except as required by law).&nbsp; Your total price will include
          the price of the package of credits you purchase plus any applicable sales tax;
          such sales tax is based on the bill-to address and the sales tax rate in effect
          at the time you purchase the credit(s). We will charge tax only in states where
          digital goods are taxable.</span></p>

          <p style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;margin-left:
          0in;text-align:justify;text-justify:inter-ideograph"><b><span style="font-size:
          11.0pt;font-family:Calibri">Inactivity of Profile and Shelf-Life of Credits</span></b><span>.&nbsp; If a Profile is completely
          inactive for a period of twelve months, we, at our sole and absolute
          discretion, may expire your credits.&nbsp; No refund will be given for expired
          credits.&nbsp;&nbsp;&nbsp; </span></p>

          <p style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;margin-left:
          0in;text-align:justify;text-justify:inter-ideograph"><strong><span>Credit Card Processing.</span></strong><span class="apple-converted-space"><span>&nbsp;The
          Site uses a third-party payment processor (Processor), Stripe, to charge you
          when purchasing credits necessary to post activities.&nbsp; All processing of
          payments shall be subject to the terms, privacy policies, and conditions of the
          Processor, in addition to these Terms. We are not liable for any errors on the
          part of the Processor. When you Subscribe, you agree to pay us through the
          Processor, all charges, at the rates currently in effect, for the credit plan
          that you have selected. You also authorize us to charge your chosen payment
          method, and to make that payment through the Processor.</span></span></p>

          <p style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;margin-left:
          0in;text-align:justify;text-justify:inter-ideograph"><strong><span>Payment Method.</span></strong><span class="apple-converted-space"><span>&nbsp;Your
          payment method is determined by the payment method you opt for, as well as your
          agreement with the bank, credit card, financial institution, or provider of
          your chosen payment method. If we do not receive payment from you through the
          Processor, you agree to pay all amounts due upon demand. </span></span></p>

          <p style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;margin-left:
          0in;text-align:justify;text-justify:inter-ideograph"><strong><span>Current Payment Information
          Required.</span></strong><span class="apple-converted-space"><span>&nbsp;You agree to provide
          complete, current, and accurate information for your billing records. You agree
          to promptly update these records and keep your record complete, current, and
          accurate, with prompt notification to us or the Processor if your method of
          payment is cancelled, or you become aware of a potential breach of security. </span></span></p>

          <p style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;margin-left:
          0in;text-align:justify;text-justify:inter-ideograph"><strong><span>Reaffirmation of Authorization.</span></strong><span class="apple-converted-space"><span>&nbsp;Your
          continued use of the Site, without notice of termination, affirms that we are
          authorized to charge your payment method. We will submit those charges to the
          Processor, and you are responsible for those charges, though this does not
          waive our right to seek direct payment from you. </span></span></p>

          <p style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;margin-left:
          0in;text-align:justify;text-justify:inter-ideograph"><strong><span>Ownership of Intellectual Property
          Rights to Site.</span></strong><span class="apple-converted-space"><span>&nbsp;</span></span><span>We own and retain all intellectual
          and proprietary rights to the Site. The Site contains copyrighted materials,
          trademarked items, and other proprietary information belonging to us. Only Site
          content within the Public Domain, or for which express permission has been
          given to you by us, can be copied, transmitted, published, distributed, or sold.</span></p>

          <p style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;margin-left:
          0in;text-align:justify;text-justify:inter-ideograph"><span class="apple-converted-space"><b><span>Intellectual
          Property of Third Parties.</span></b></span><span class="apple-converted-space"><span>&nbsp; You attest, represent and
          guaranty, that you will not contribute any content that: infringes, violates,
          or interferes with any trademark or copyright of another party; reveals any
          trade secret not owned or expressly permitted to you; in any way infringes the
          intellectual property rights or privacy of another party.</span></span></p>

          <p style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;margin-left:
          0in;text-align:justify;text-justify:inter-ideograph"><strong><span>Ownership of User Content.</span></strong><span class="apple-converted-space"><span>&nbsp;</span></span><span>You understand and agree that, by
          using the Site and contributing content to it, you shall and do grant us the
          world-wide, non-exclusive, fee and royalty free, licensable, and transferrable
          right to use, modify, copy, distribute, display, derive from, publish, and
          otherwise utilize all such content, including all related intellectual property
          rights, in any media format, for any purpose, and to allow others to do so.</span></p>

          <p style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;margin-left:
          0in;text-align:justify;text-justify:inter-ideograph"><strong><span>Copyright Policy.</span></strong><span class="apple-converted-space"><span>&nbsp;</span></span><span>If you own a copyright and believe
          that content on the Site infringes upon that copyright, please submit a
          notification per the Digital Millennium Copyright Act, providing us with notice
          of claim of copyright infringement in writing to Elliott &amp; Davis, PC, 425 1<sup>st</sup>
          Avenue, Pittsburgh, PA 15206 per 17 U.S.C. 512(c)(3), including: the physical
          or electronic signature of the person authorized to act on behalf of the
          copyright owner; identification of the copyrighted work or works allegedly
          infringed; contact information sufficient to allow us to contact you (e.g.
          mailing address, email address, and telephone number); a statement of your good
          faith belief that the use of the content in question was done without the
          authorization of the copyright owner, their agent, or the law; and a statement
          that all information contained in your notice is accurate under penalty of
          perjury, and that you are authorized to act on behalf of the owner of the
          exclusive right allegedly infringed.</span></p>

          <p style="margin-top:0in;margin-right:0in;margin-bottom:13.5pt;margin-left:
          0in;text-align:justify;text-justify:inter-ideograph;line-height:15.0pt;
          background:white"><b><span style="font-size:11.0pt;font-family:Calibri;
          color:#333333">Compatible Devices</span></b><span style="font-size:11.0pt;
          font-family:Calibri;color:#333333">.&nbsp; Use of the Site requires compatible
          devices, Internet access, and certain software (fees may apply); may require
          periodic updates; and may be affected by the performance of these factors.
          High-speed Internet access is strongly recommended for regular use and is
          required for video.&nbsp; You agree that meeting these requirements, which may
          change from time to time, is your responsibility. </span></p>

          <p style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;margin-left:
          0in;text-align:justify;text-justify:inter-ideograph"><strong><span>Mobile Applications</span></strong><span class="apple-converted-space"><span>.&nbsp;
          Please be aware that while we charge no additional fee for accessing the Site
          remotely or from a mobile device, all of your carrier’s rates and fees apply,
          and you are solely responsible for these fees.</span></span></p>

          <p style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;margin-left:
          0in;text-align:justify;text-justify:inter-ideograph"><strong><span>Interaction with Us or Our Agents</span></strong><span class="apple-converted-space"><span>.&nbsp;
          We may provide support, assistance, and guidance for our Users through our
          agents and employees. If we feel at any time, and at our sole discretion, that
          your behavior towards any of our support representatives, agents, or employees
          is abusive or threatening, we reserve the right to immediately terminate your Profile.
          </span></span></p>

          <p style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;margin-left:
          0in;text-align:justify;text-justify:inter-ideograph"><strong><span>Disclaimers/Limitations</span></strong><span class="apple-converted-space"><span>&nbsp;We
          assume no responsibility for any inaccurate or incorrect content posted on or
          through the site, whether initiated by Users</span></span><span>, or any of the programming or
          equipment utilized by the Site. We assume no responsibility for any omission,
          interruption, error, defect, unauthorized access, or delay in operation or
          transmission, to any User. We assume no responsibility for any malfunctions or
          problems of any telephone network or equipment, computer network or equipment, software,
          technical problems, traffic congestion, or any combination thereof, including
          injury, death, or damage to users or any persons’ computer, resulting from or
          related to use of the Site or materials from the Site. At no time will We, or
          any of our contractors, affiliates, promoters, advertisers, or distribution
          partners be responsible for injury, death, or damage to users or any persons’
          computer, resulting from or related to use of the Site, or content related to
          the Site, whether online or offline. Periodically, We may choose to offer
          “Beta,” or testing, versions of new tools or features on the Site. These
          features are offered solely for experimental purposes and carry no warranties
          of any kind, and may be discontinued at any time without warning.</span></p>

          <p style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;margin-left:
          0in;text-align:justify;text-justify:inter-ideograph"><span style="font-size:
          11.0pt;font-family:Calibri">We maintain the Site without warranty or condition
          of any kind, general, express, statutory, or implied, as “AS IS” and “AS
          AVAILABLE,” thus any use of the Site is at your own risk. We assume no
          responsibility that the Site will result in any specific outcome, or meet your
          specific requirements, or that operation will be error free or uninterrupted. We
          specifically disclaim any implied warranties of title, merchantability,
          non-infringement and fitness for a specific purpose, to the fullest extent
          allowed by law. Some states may not allow a disclaimer of implied warranties,
          thus the previous disclaimer may not apply to you. </span></p>

          <p style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;margin-left:
          0in;text-align:justify;text-justify:inter-ideograph"><span style="font-size:
          11.0pt;font-family:Calibri">We shall not be liable to you for any direct,
          indirect, general, special, incidental, punitive, or consequential damages, and
          our cumulative liability relating to your use of the Site (regardless of basis)
          shall not exceed the greater of; the sum paid to Us by you in the preceding
          twelve months, or $100. Some states may not allow the exclusion or limitation
          of consequential or incidental damages, thus the previous disclaimer may not
          apply to you.</span></p>

          <p style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;margin-left:
          0in;text-align:justify;text-justify:inter-ideograph"><strong><span>Third Party Links.</span></strong><span class="apple-converted-space"><span>&nbsp;
          Periodically, you may be provided with links to other sites, resources, and
          features through the Site. As we have no control over such sites, resources,
          and features, you acknowledge and agree that we are not responsible for, nor do
          we endorse, the accuracy, content, products, advertising, or any other
          materials available from such sites, resources, or features. You also
          acknowledge that we shall not be liable or responsible, directly or indirectly,
          for any loss, injury, or damage caused or alleged to be caused by or through
          the use of or reliance upon any such site, resource, or feature. </span></span></p>

          <p style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;margin-left:
          0in;text-align:justify;text-justify:inter-ideograph"><strong><span>Compliance with Laws.</span></strong><span class="apple-converted-space"><span>&nbsp;
          You acknowledge and agree that you will only use the Site in a manner
          consistent with these Terms of Service, as well as any and all applicable local,
          state, national, and international laws and regulations, including export
          control laws. You warrant and represent that you are not located in, a citizen
          of, or acting under the control of any country which the United States has:
          identified as a Specially Designated Nation; established an embargo upon; or
          placed onto the Commerce Departments Table of Deny Orders. Use of and
          registration for this Site are void where prohibited. To the extent that the
          Site is not legal in your jurisdiction, you may not use the Site, and the Site
          may not be used anywhere where prohibited by law. </span></span></p>

          <p style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;margin-left:
          0in;text-align:justify;text-justify:inter-ideograph"><strong><span>Jurisdiction and Choice of Law.</span></strong><span class="apple-converted-space"><span>&nbsp;</span></span><span> If there is any dispute arising
          out of the Site, by using the Site you expressly agree that any such dispute
          shall be governed by the laws of the State of Colorado, without regard to its conflict
          of law provisions, and you expressly agree and consent to the exclusive
          jurisdiction and venue of the state and federal courts of the State of Colorado,
          for the resolution of any such dispute.</span></p>

          <p style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;margin-left:
          0in;text-align:justify;text-justify:inter-ideograph"><strong><span>Indemnity by You.</span></strong><span class="apple-converted-space"><span>&nbsp;</span></span><span> You agree to indemnify and hold us,
          our subsidiaries, affiliates, officers, agents, and other partners and
          employees, harmless from any loss, liability, claim, or demand, including
          reasonable attorney's fees, made by any third party due to or arising out of
          your use of the Site in violation of these Terms and/or arising from a breach
          of these Terms and/or any breach of your representations and warranties set
          forth above.</span></p>

          <p style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;margin-left:
          0in;text-align:justify;text-justify:inter-ideograph"><strong><span>Entire Agreement.</span></strong><span class="apple-converted-space"><span>&nbsp;</span></span><span> These Terms, along with our
          Privacy Policy contain the entire agreement regarding the use of the Site.</span></p>

          <p style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;margin-left:
          0in;text-align:justify;text-justify:inter-ideograph"><strong><span>Severability.</span></strong><span class="apple-converted-space"><span>&nbsp;</span></span><span> If any provision of these Terms
          is held to be invalid, illegal or unenforceable in any respect, that provision
          shall be limited or eliminated to the minimum extent necessary such that these
          Terms shall otherwise remain in full force and effect and enforceable.</span></p>

          <p style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;margin-left:
          0in;text-align:justify;text-justify:inter-ideograph"><strong><span>Survival.</span></strong><span class="apple-converted-space"><span>&nbsp;
          </span></span><span>Even after
          your Profile is terminated, or your use of the Site discontinues, these Terms shall
          remain in effect. All terms that by their nature may survive termination of
          these Terms shall be deemed to survive such termination.</span></p>

          <p style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;margin-left:
          0in;text-align:justify;text-justify:inter-ideograph"><strong><span>Waiver.</span></strong><span class="apple-converted-space"><span>&nbsp;</span></span><span> Our failure to enforce any part
          of these Terms shall not constitute a waiver of our right to later enforce that
          or any other part of these Terms. Waiver of compliance in any particular
          instance does not mean that we will do so in the future. In order for any
          waiver of compliance with these Terms to be binding, we must provide you with express
          written notice of such waiver, provided by one of our authorized
          representatives.</span></p>

          <p style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;margin-left:
          0in;text-align:justify;text-justify:inter-ideograph"><strong><span>Headings</span></strong><span>. The section and paragraph
          headings in these Terms are for convenience only and shall not affect the
          interpretation of these Terms.</span></p>

          <p style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;margin-left:
          0in;text-align:justify;text-justify:inter-ideograph"><span style="font-size:
          11.0pt;font-family:Calibri">Please contact us at&nbsp;</span><a href="mailto:legal@twonoo.com"><span>legal@twonoo.com</span></a><span> </span><span style="font-size:
          11.0pt;font-family:Calibri">with any questions regarding these Terms of Service
          or our Privacy Policy.</span></p>

          <p style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;margin-left:
          0in;text-align:justify;text-justify:inter-ideograph"><span style="font-size:
          11.0pt;font-family:Calibri">&nbsp;</span></p>

        </div>
       </div>
    </div>
  </div>
</div>

<script>
  $(function() {
    $.vegas({
      src:'<%= asset_path 'backgrounds/1.jpg' %>'
    })('overlay', {
      src:"<%= asset_path 'overlays/05.png' %>"
    });
    $.vegas('slideshow', {
      delay:10000,
      backgrounds:[
      { src: '<%= asset_path 'backgrounds/1.jpg' %>', fade:1000 },
      { src: '<%= asset_path 'backgrounds/2.jpg' %>', fade:1000, valign:'70%' },
      { src: '<%= asset_path 'backgrounds/3.jpg' %>', fade:1000 },
      { src: '<%= asset_path 'backgrounds/4.jpg' %>', fade:1000 }
      ]
    })('overlay');
  });

</script>
