<div class="container">
  <div class="row">
    <div class="panel panel-default">
      <h4 class="panel-title">Edit your Activity or Teammate Request</h4>
    </div>
    <div class="panel-body">
      <% if @activity.errors.any? %>
          <div id="error_explanation">
            <% @activity.errors.full_messages.each do |msg| %>
                <div class="alert alert-danger fade in"><%= msg %>
                  <button class="close" data-dismiss="alert">x</button>
                </div>
            <% end %>
            </ul>
          </div>
      <% end %>
      <div class="col-md-7">
        <% if @activity.errors.any? %>
            <div id="error_explanation">
              <% @activity.errors.full_messages.each do |msg| %>
                  <div class="alert alert-danger fade in"><%= msg %>
                    <button class="close" data-dismiss="alert">x</button>
                  </div>
              <% end %>
              </ul>
            </div>
        <% end %>
        <%= form_for @activity, html: {class: "form-horizontal", :multipart => true} do |f| %>
            <div class="form-group">
              <%= f.label 'Title *', class: "col-sm-3 control-label", style: "color:#000" %>
              <div class="col-sm-6">
                <%= f.text_field :activity_name, class: "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label 'When *', class: "col-sm-3 control-label", style: "color:#000" %>
              <div class='input-group date col-sm-3' style='padding-left:15px' id='datepicker1'>
                <%= f.text_field :date, class: "form-control", value: (@activity.datetime.blank? ? '' : @activity.date) %>
                <span class="input-group-addon"><span class="icon-calendar"></span></span>
              </div>
              <div class='input-group date col-sm-3' id='timepicker1'>
                <%= f.text_field :time, class: "form-control", value: (@activity.datetime.blank? ? '' : @activity.time) %>
                <span class="input-group-addon"><span class="glyphicon-clock"></span></span>
              </div>
            </div>

            <div class="form-group">
              <%= f.label 'End', class: "col-sm-3 control-label" %>
              <div class='input-group date col-sm-3' style='padding-left:15px' id='datepicker2'>
                <%= f.text_field :enddate, class: "form-control", value: (@activity.enddate.nil? ? '' : @activity.enddate) %>
                <span class="input-group-addon"><span class="icon-calendar"></span></span>
              </div>
              <div class='input-group date col-sm-3' id='timepicker2'>
                <%= f.text_field :endtime, class: "form-control", value: (@activity.endtime.nil? ? '' : @activity.endtime) %>
                <span class="input-group-addon"><span class="glyphicon-clock"></span></span>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :venue, class: "col-sm-3 control-label" %>
              <div class="col-sm-6">
                <%= f.text_field :location_name, class: "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :address, class: "col-sm-3 control-label" %>
              <div class="col-sm-6">
                <%= f.text_field :street_address_1, class: "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :address_2, class: "col-sm-3 control-label" %>
              <div class="col-sm-6">
                <%= f.text_field :street_address_2, class: "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label 'City *', class: "col-sm-3 control-label", style: "color:#000" %>
              <div class="col-sm-3">
                <%= f.text_field :city, class: "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label 'State *', class: "col-sm-3 control-label", style: "color:#000" %>
              <div class="col-sm-4">
                <%= f.select :state, us_states, {}, {class: "form-control"} %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :website, class: "col-sm-3 control-label" %>
              <div class="col-sm-4">
                <%= f.text_field :website, class: "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label 'Description *', class: "col-sm-3 control-label", style: "color:#000" %>
              <div class="col-sm-8">
                <%= f.text_area :description, class: "form-control", rows: "3" %>
              </div>
            </div>
            </div>

            <div class="col-md-5">
              <% if image_tag @activity.image.url %>
                  <%= image_tag @activity.image.url(:medium), width: 300 %>
              <% else %>
                  <%= image_tag 'no-image.png', width: 300 %>
              <% end %>
              <%= f.file_field :image %>
              <br/><br/>

              <div>
                <h3>Activity Type *</h3>
              </div>

              <div class="form-group">
                <select data-placeholder="Add tags..." multiple="" tabindex="3" id='activity_select' class='allow_additem' name='activity[activities_interests][]'>
                  <% activity_activity_types = @activity.interests.pluck(:interest_id) %>
                  <% @interests.each do |interest| %>
                      <% if activity_activity_types.include? interest.id %>
                          <option selected value="<%= interest.name %>"><%= interest.name %></option>
                      <% else %>
                          <option value="<%= interest.name %>"><%= interest.name %></option>
                      <% end %>
                  <% end %>
                </select>
              </div>

              <% if @activity.cancelled %>
                  <%= link_to 'UN-Cancel Activity', activity_cancel_path(@activity.id), class: 'btn btn-sm btn-danger pull-right' %>
              <% else %>
                  <div style='text-align:left; '>
                    <%= f.submit 'Update!', class: 'btn btn-sm btn-success' %>
                    <%= link_to 'Cancel Activity', activity_cancel_path(@activity.id), class: 'btn btn-sm btn-danger' %>
                  </div>
              <% end %>
        <% end %>

        <script type="text/javascript">
            $(function () {
                $('#datepicker1').datetimepicker({pickTime: false});
                $('#datepicker2').datetimepicker({pickTime: false});

                $('#timepicker1').datetimepicker({pickDate: false});
                $('#timepicker2').datetimepicker({pickDate: false});
            });
        </script>
        </div>
        </div>
  </div>
</div>
