<% provide(:title, "FIND ACTIVITIES") %>
<%= form_for(:activity_search, url: activities_path, method: "get") do |f| %>
  <div class="findcolumn1">
    <p>
      <label>Activity Name:</label>
      <%= f.text_field :Name, size: 25, maxlength: 50, autofocus: true %>
    </p>
    <p><label>Activity Date:</label>
      <%= f.date_field :ActivityDate %>
    </p>
    <p><label>City:</label>
      <%= f.text_field :City, size: 25, maxlength: 50 %>
    </p>
    <p>
      <label>State:</label>
      <%= f.text_field :State, size: 2, maxlength: 2 %>
    </p>
    <p>
      <label>Venue Name:</label>
      <%= f.text_field :LocationName, size: 25, maxlength: 50, placeholder: "Example: Billy's Bar"%>
    </p>
    <p>
      <label>User Name:</label>
      <input type="text" name="username" size="20" maxlength="20"/>
    </p>
  </div>
  <div class="findcolumn2">
      <fieldset id="ActivityType">
        <legend>Activity Type (Select ALL that apply):</legend>
        <table>
          <% @cellNum = 1 %>
          <% @activityTypes.each do |activityType| %>
            <% if @cellNum%3 == 1 %>
              <tr>
            <% end %>
            <td><input type="checkbox" name="activityType[]" value="<%=activityType.id%>"/><%=activityType.Type%></td>
            <% if @cellNum%3 == 0 %>
              </tr>
            <% end %>
            <% @cellNum = @cellNum + 1 %>
          <% end %>
          <% if @cellNum%3 > 0 %>
            </tr>
          <% end %>
        </table>
      </fieldset>
      <br/>
      <p>
      	<input type="checkbox" name="Following" <%=params[:Following].nil? ? '':"checked=true" %>/>Only show people I'm following
      </p>
  </div>
  <%= image_submit_tag("SearchButton.png", alt: "Search", class: "search", id: "search")%>
<% end %>

  <div class="collapsebar"></div>
  <% if !(@activities.nil? or @activities.count == 0) %>
    <div class="searchresults">
      <table>
        <% @odd = true %>
        <% @activities.each do |activity| %>
          <% if @odd %>
            <tr>
          <% end %>
            <td>
              <a href="/activities/<%=activity.id%>" class="searchlink">
                <div class="searchresult">
                  <div class="activityname"><%=activity.Name%></div><% @mainPhoto = PhotoActivity.where("Activity_Id = ? AND MainPhoto = ?", activity.id, true).first
                     unless @mainPhoto.nil? %><%= image_tag("activity/"+@mainPhoto.PhotoId, alt: "ActivityDetailsPhoto", class: "ActivityDetailsPhoto", id: "ActivityDetailsPhoto")%><% end %>
                  <div class="time"><%=activity.ActivityTime%></div><br/>
                  <div>
                    <%if !(activity.ActivityDate.nil?)%>
                      <%=activity.ActivityDate.strftime("%A")%>, <%=activity.ActivityDate.strftime("%B")%> <%=activity.ActivityDate.strftime("%d")%>
                    <% end %>
                    <%if !(activity.LocationName.nil?)%>
                      @ <%=activity.LocationName%>
                    <% end %>
                  </div><br/>
                  <div>
                    <%=activity.StreetAddress1%>
                    <% if !(activity.StreetAddress1.nil?) && !(activity.StreetAddress1.empty?) && !(activity.City.nil?)&& !(activity.City.empty?)%>, <% end %>
                    <%=activity.City%>
                    <% if !(activity.State.nil?) && !(activity.State.empty?) && !(activity.City.nil?)&& !(activity.City.empty?)%>, <% end %>
                    <%=activity.State%>
                  </div><br/>
                </div>
              </a>
             </td>
          <% if !@odd %>
          </tr>
          <% end %>
          <% @odd = !@odd %>
        <% end %>
        <% if @odd %>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>