<div class="container">
  <div class="row">
    <div class="panel panel-default" >
        <h4 class="panel-title">Create your Activity</h4>
    </div>
      <div class="panel-body">
        <% if @activity.errors.any? %>
          <div id="error_explanation">
            <% @activity.errors.full_messages.each do |msg| %>
              <div class="alert alert-danger fade in"><%= msg %><button class="close" data-dismiss="alert">x</button></div>
            <% end %>
            </ul>
          </div>
        <% end %>
      <div class="col-md-7">
      <script>
        var bsubmit = false;
        function confirmCreate()
        {
          if (bsubmit)
          {
            return true;
          }

          <% unless current_user.profile.ambassador == 1 || current_user.profile.nonprofit == 1 %>
            if (!confirm('Creating this Activity will cost 1 Credit'))
              return false;
          <% end %>

          // get the city and state entered
          var address1 = $('#activity_street_address_1').val();
          console.log("address1: " + address1);
          console.log("address1: " + $('#activity_street_address_1').val());
          var address2 = $('#activity_street_address_2').val();
          var city = $('#activity_city').val();
          var state = $('#activity_state').val();

          var address = '';
          if (address1 && (address1.length > 0)) {address += address1 + ", ";}
          if (address2 && (address2.length > 0)) {address += address2 + ", ";}
          address += city + ", " + state;
          console.log("address: " + address);
          
          // Get the lat long of the city, state
          var geocoder = new google.maps.Geocoder();

          geocoder.geocode({'address': address}, function(results, status){
                console.log('results[0].geometry.location:'+results[0].geometry.location);
                $('#lat').val(results[0].geometry.location.lat());
                $('#lng').val(results[0].geometry.location.lng());

                bsubmit = true;

                $('#new_activity').submit();
          });

          return false;
        }
      </script>
        <%= form_for @activity, html: { class: "form-horizontal", onsubmit: "return confirmCreate()"} do |f| %>

          <div class="form-group">
            <%= f.label 'Name *', class: "col-sm-3 control-label", style: "color:#000" %>
            <div class="col-sm-5">
              <%= f.text_field :activity_name, class: "form-control" %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label 'When *', class: "col-sm-3 control-label", style: "color:#000"  %>
            <div class='input-group date col-sm-5' style='padding-left:15px' id='datetimepicker1'>
              <%= f.text_field :datetime, class: "form-control", value: (@activity.datetime.blank? ? Time.now.strftime('%m/%d/%Y %l:%M %p') : @activity.datetime.strftime('%m/%d/%Y %l:%M %p')) %>
              <span class="input-group-addon"><span class="icon-calendar"></span></span>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :venue, class: "col-sm-3 control-label" %>
            <div class="col-sm-5">
              <%= f.text_field :location_name, class: "form-control" %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :address, class: "col-sm-3 control-label" %>
            <div class="col-sm-5">
              <%= f.text_field :street_address_1, class: "form-control" %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :address_2, class: "col-sm-3 control-label" %>
            <div class="col-sm-5">
              <%= f.text_field :street_address_2, class: "form-control" %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label 'City *', class: "col-sm-3 control-label", style: "color:#000"  %>
            <div class="col-sm-3">
              <%= f.text_field :city, class: "form-control" %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label 'State *', class: "col-sm-3 control-label", style: "color:#000"  %>
            <div class="col-sm-4">
              <%= f.select :state, us_states, {}, {class: "form-control"} %>
            </div>
          </div>
          <%= hidden_field_tag :lat%>
          <%= hidden_field_tag :lng %>

          <div class="form-group">
            <%= f.label :website, class: "col-sm-3 control-label" %>
            <div class="col-sm-4">
              <%= f.text_field :website, class: "form-control" %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label 'Description *', class: "col-sm-3 control-label", style: "color:#000"  %>
            <div class="col-sm-8">
              <%= f.text_area :description, class: "form-control", rows: "3" %>
            </div>
          </div>
      </div>

      <div class="col-md-5">
        <fieldset>
          <h3>Upload Activity Image</h3>
          <%= f.file_field :image %>
        </fieldset>
        <br/><br/>
        <div>
          <h3>Activity Type</h3>
        </div>
        <% for type in ActivityType.all %>
        <div>
          <%= check_box_tag "activity[activity_type_ids][]", type.id, (@activity.activity_type_ids.include?(type.id)?true:false) %>
          <% logger.info "type.id: #{type.id}"
              logger.info "included: #{@activity.activity_type_ids.include? type.id}" %>
          <%= type.activity_type %>
        </div>
        <% end %>

        <button type="submit" class="btn btn-md btn-success pull-right" >Create!</button>
      <% end %>

      <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
      </script>
  </div>
</div>

<script>
  $(function () {

    // Get browser location and set selectors
    function getLocation() {
      if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(getCity, getCityError);
      } else {
        $('#activity_city').val('Denver');
        $('#activity_state').val('CO');
      }
    }

    function getCity(position) {
      var geocoder = new google.maps.Geocoder();

      var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
      console.log(latlng);
      $('#lat').val(position.coords.latitude);
      $('#lng').val(position.coords.longitude);

      var city = 'Pittsburgh';
      var state = 'PA';

      geocoder.geocode({'latLng': latlng}, function(results, status){
        $.each(results[0].address_components, function (i, address_component) {
            console.log('address_component:'+i);

            var type = address_component.types[0];
            console.log(i+": "+type+":"+address_component.short_name);

            if (type == 'locality')
              city = address_component.short_name;
            else if (type == 'administrative_area_level_1')
              state = address_component.short_name;
        });

        console.log("city, state: "+city+", "+state);
        console.log(latlng);

        $('#activity_city').val(city);
        $('#activity_state').val(state);
      });
    }

    function getCityError() {
      $('#activity_city').val('Denver');
      $('#activity_state').val('CO');
    };

    if ($('#activity_city').val() == '')
      getLocation();
  });

</script>
