<% provide(:title, 'Create Activity') %>
  
    <%= form_for(@activity, :html => { :multipart => true } ) do |f| %>
      <%= render 'shared/error_messages' %>
      	<div class="column1">
          <p>
            <label>Activity Name:</label>
            <%= f.text_field :Name, size: 25, maxlength: 50, required: true, autofocus: true %>
          </p>
          <p>
            <label>Activity Date:</label>
            <%= f.date_field :ActivityDate %>
            <label>Time:</label>
            <%= f.time_field :ActivityTime %>
          </p>
          <p>
            <label>Address:</label>
            <%= f.text_field :StreetAddress1, size: 50, maxlength: 100 %>
          </p>
          <p>
            <label>City:</label>
            <%= f.text_field :City, size: 25, maxlength: 50, required: true %>
            <label>State:</label>
            <%= f.text_field :State, size: 2, maxlength: 2, required: true %>
          </p>
          <p>
            <label>Venue Name:</label>
            <%= f.text_field :LocationName, size: 25, maxlength: 50, placeholder: "Example: Billy's Bar" %>
          </p>
          <p>
            <label>Website URL:</label>
            <%= f.text_field :Website, size: 25, maxlength: 50 %>
          </p>
          <p>
            <label>Upload Photo:</label>
            <%= f.file_field :picture %>
          </p>
          <p>
            <label>Description:</label>
            <%=f.text_area :Description, cols: 80, rows: 4, class: "required", placeholder: "Describe you activity..." %>
          </p>
      	</div>
      	<div class="column2">
          <p>Allow others to RSVP for this activity?
            <br />
            <%= f.radio_button :rsvp, true, :checked => true %>Yes
            <%= f.radio_button :rsvp, false %>No
          </p>      		
          <fieldset id="ActivityType">
            <legend>Activity Type (Select ALL that apply):
            </legend>
            <table>
              <% @cellNum = 1 %>
              <% @activityTypes.each do |activityType| %>
                <% if @cellNum%3 == 1 %>
                  <tr>
                <% end %>
                <td><input type="checkbox" name="activityType[]" value="<%=activityType.id%>"/><%=activityType.Type%></td>
                <% if @cellNum%3 == 0 %>
                  </tr>
                <% end %>
                <% @cellNum = @cellNum + 1 %>
              <% end %>
              <% if @cellNum%3 > 0 %>
                </tr>
              <% end %>
            </table>
          </fieldset>
        </div>
        <%= image_submit_tag("SaveButton.png", alt: "Save", class: "save", id: "save")%>
      <% end %>
