<% provide(:title, 'Activity Details') %>
  <%= render 'shared/error_messages' %>
  <div class="searchresults">
    <div id="activity">
        <div>
          <h1><%=@activity.Name%></h1>
          <%=@activity.Website%>
          <div id="actdetailstime"><%=@activity.ActivityTime%></div>
        </div>
        <p><%=@activity.ActivityDate%><% unless @activity.LocationName.nil? || @activity.LocationName.empty? %> @ <%=@activity.LocationName%><% end %></p>
        <p><%=@activity.City%>, <%=@activity.State%></p>
        <hr />
        <p><%=@activity.Description%></p>
        <hr />
        <p><% unless @mainPhoto.nil? %>
          <%= image_tag("activity/"+@mainPhoto.PhotoId, alt: "ActivityDetailsPhoto", class: "ActivityDetailsPhoto", id: "ActivityDetailsPhoto")%>
          <% end %>
        </p>
        <% if @activity.rsvp %>
          <%= image_submit_tag("RSVPButton.png", alt: "RSVP", class: "rsvp", id: "rsvp")%>
        <% end %>
        <div class="clearleft"><p>&nbsp;&nbsp;<a href="">X More Photo(s) (Should probably only show this if this IS another photo other than the one shown</a></p></div>
    </div>
    <div id="activitydetailsuser">
          <%= image_submit_tag("FollowButton.png", alt: "Follow", class: "follow", id: "follow")%>
          <p>Organized by...</p>
          <p id="UserName"><%= link_to @user.UserId, "/showUser/" + @user.id.to_s %></p>
          <hr />
        <div class="clearleft"><p><%=@user.AboutMe%></p></div>
        <hr />
        <p>
          <%= image_tag("ActivityImage1.JPG", alt: "ActivityDetailsUserPhoto", class: "ActivityDetailsUserPhoto", id: "ActivityDetailsUserPhoto")%>
        </p>
        <div class="clearleft"><p>&nbsp;&nbsp;<a href="">X More Photo(s)</a></p></div>
    </div>
  </div>

