<div class="col-md-3 ">
  <div class="panel panel-default">
    <ul class="nav list-group profile">
      <%= link_to '<li class="list-group-item">Edit Profile</li>'.html_safe, profile_edit_path %>
      <%= link_to '<li class="list-group-item">Change Password</li>'.html_safe, profile_change_password_path %>
      <%= link_to '<li class="list-group-item">Notifications</li>'.html_safe, notification_settings_path %>
      <%= link_to '<li class="list-group-item">Interests</li>'.html_safe, interests_index_path %>
      <%= link_to '<li class="list-group-item">Sign Out</li>'.html_safe, destroy_user_session_path, method: :delete %>
    </ul>
  </div>
</div>
