<% @following.each do |f| %>
  <div id="results-row" class="row row-sm-height">
    <div class="col-md-6 panel" style="background-color:#fff">
      <p class="lead"><%= profile_img(f) %>
        <%= link_to (f.name), profile_path(f) %>
      </p>
    </div>
    <div class="col-md-6 panel panel-right" style="background-color:#fff">
      <% if !current_user.nil? && (current_user != f) then %>
        <div class="pull-right" style="width:230px;z-index:1000"><%= link_to "Send #{f.profile.first_name} a message", '#', id: 'messageMe', class: 'messageMe'  %>
          <div style="display:none;padding:0px;margin:0px;position:absolute;" class="pull-right draggable">
            <%= render partial: '/conversations/form_im', :locals => {:recipient => f, :activity => nil}%>
          </div>
          <% if current_user == User.find(params[:id]) %>
            <div class="pull-right" style="margin-top:1.2em;"><%=(link_to 'Unfollow', unfollow_path(f.id), class: 'label label-info')%></div>
          <% elsif !(current_user.following?(f) || (current_user == f))%>
            <div class="pull-right follow_link" style="cursor:pointer;margin-top:1.2em;" user_id="<%=f.id%>" user_name="<%=f.name%>"><a class='label label-info' style="color:#FFF;">Follow</a></div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
