<div class="container">
  <div class="row">
    <%= render 'edit_nav' %>
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-md-9"> <%= form_for @user, html: {class: "form form-horizontal"} do |u| %> <%= u.fields_for :profile do |p| %>
            <div class="form-group" style="vertical-align: bottom;"> 
              <%= p.check_box :first_name %> 
              <%= p.label 'New follower'  %>
            </div>
            <div class="form-group">
              <%= p.check_box :last_name %>
              <%= p.label 'RSVPs to an activity you organized' %>
            </div>
            <div class="form-group"> 
              <div class="col-sm-6"> <%= p.check_box :last_name, class: "form-control" %> </div>
              <%= p.label 'New activity form someone you follow', class: "col-sm-2 control-label" %>
            </div>
            <div class="form-group">
              <div class="col-sm-6"> <%= p.check_box :last_name, class: "form-control" %> </div>
              <%= p.label 'Update to an RSVP\'d activity', class: "col-sm-2 control-label" %>
            </div>
            <div class="form-group">
              <div class="col-sm-6"> <%= p.check_box :last_name, class: "form-control" %> </div>
              <%= p.label 'New message', class: "col-sm-2 control-label" %>
            </div>
            <div class="form-group">
              <div class="col-sm-6"> <%= p.check_box :last_name, class: "form-control" %> </div>
              <%= p.label 'New comment on an actvity you organized', class: "col-sm-2 control-label" %>
            </div>
            <div class="form-group">
              <div class="col-sm-6"> <%= p.check_box :last_name, class: "form-control" %> </div>
              <%= p.label 'New comment on an actvity you RSVP\'d to', class: "col-sm-2 control-label" %>
            </div>
            <div class="form-group">
              <div class="col-sm-6"> <%= p.check_box :last_name, class: "form-control" %> </div>
              <%= p.label 'Weekly Summary', class: "col-sm-2 control-label" %>
            </div>
            <%= u.submit 'Save', class: 'btn btn-primary' %> </div>
          <div class="col-md-2"> <%= profile_img(@user) %>
            <label>Update Picture</label>
            <%= p.file_field :profile_picture %> </div>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
