<div class="container">
	<div class="row">
		<div class="col-md-3">
			<div class="panel panel-default">
		    <ul class="nav list-group">
				  <a href="/profile/edit"><li class="list-group-item active">Edit Profile</li></a>
				  <a href="/users/password/edit"><li class="list-group-item">Change Password</li></a>
				  <a href="/users/privacy"><li class="list-group-item">Privacy</li></a>
				  <a href="/users/sign_out"><li class="list-group-item">Sign Out</li></a>
				</ul>
		  </div>
		</div>
	  	<div class="panel panel-default">
		   	<div class="panel-body">
		   		<div class="col-md-7">
			    <%= form_for @user, html: {class: "form form-horizontal"} do |u| %>
			    	<%= u.fields_for :profile do |p| %>

			    	<div class="form-group">
			    		<%= p.label :first_name, class: "col-sm-2 control-label" %>
					    <div class="col-sm-6">
					    	<%= p.text_field :first_name, class: "form-control" %>
					    </div>
					  </div>

			    	<div class="form-group">
			    		<%= p.label :last_name, class: "col-sm-2 control-label" %>
					    <div class="col-sm-6">
					    	<%= p.text_field :last_name, class: "form-control" %>
					    </div>
					  </div>
			    	<div class="form-group">
			    		<%= u.label :email, class: "col-sm-2 control-label" %>
					    <div class="col-sm-6">
					    	<%= u.text_field :email, class: "form-control" %>
					    </div>
					  </div>
			    	<div class="form-group">
			    		<%= p.label :sex, class: "col-sm-2 control-label" %>
					    <div class="col-sm-2">
					    	<%= p.select :gender, [['Male', 0], ['Female', 1]], {}, class: "form-control" %>
					    </div>
					  </div>

					  <div class="form-group">
			    		<%= p.label :about_me, class: "col-sm-2 control-label" %>
					    <div class="col-sm-6">
					    	<%= p.text_area :about_me, class: "form-control" %>
					    </div>
					  </div>
					  <%= u.submit 'Save', class: 'btn btn-primary' %>	
			    </div>
			    <div class="col-md-2">
			    	<%= image_tag current_user.profile.profile_picture.url(:thumb), class: 'profile-img' %>
			    	<label>Update Picture</label>
			    	<%= p.file_field :profile_picture %>
			    </div>

			    <% end %>

			    
			    <% end %>
		   	</div>
		   </div>



	  </div>
	</div>
</div>