<div class="container">
  <div class="row">
    <%= render 'edit_nav' %>
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-md-9">
            <h1>E-mail settings</h1>
            <p>Configure your notification e-mail settings.</p>
            <style>
              #edit_notification_setting_3 select
              {
                width:130px;
                }
            </style>
          <%= form_for @notification_setting, html: {class: "form form-horizontal"} do |ns| %>
          <table>
            <tr>
            <td width="100%">
              <%= ns.label 'New follower'  %>
            </td>
            <td>
              <%= ns.select :new_follower, [['Immediately', 1], ['Daily', 2], ['Weekly', 3], ['Never', 0]]%> 
            </td>
            </tr>
            <tr>
            <td width="100%">
              <%= ns.label 'New message' %>
            </td>
            <td>
              <%= ns.select :new_message, [['Immediately', 1], ['Daily', 2], ['Weekly', 3], ['Never', 0]]%>
            </td>
            </tr>
            <tr>
            <td width="100%">
              <%= ns.label 'RSVPs to an activity you organized' %>
            </td>
            <td>
              <%= ns.select :new_rsvp, [['Immediately', 1], ['Daily', 2], ['Weekly', 3], ['Never', 0]]%>
            </td>
            </tr>
            <tr>
            <td width="100%">
              <%= ns.label 'New activity from someone you follow' %>
            </td>
            <td>
              <%= ns.select :new_following_activity, [['Immediately', 1], ['Daily', 2], ['Weekly', 3], ['Never', 0]]%>
            </td>
            </tr>
            <tr>
            <td width="100%">
              <%= ns.label 'Update to an activity you are attending' %>
            </td>
            <td>
              <%= ns.select :attending_activity_update, [['Immediately', 1], ['Daily', 2], ['Weekly', 3], ['Never', 0]]%>
            </td>
            </tr>
            <tr>
            <td width="100%">
              <%= ns.label 'New comment on an actvity you organized' %>
            </td>
            <td>
              <%= ns.select :comment_on_owned_activity, [['Immediately', 1], ['Daily', 2], ['Weekly', 3], ['Never', 0]]%>
            </td>
            </tr>
            <tr>
              <td width="100%">
                <%= ns.label 'New comment on an actvity you are attending' %>
              </td>
              <td>
                <%= ns.select :comment_on_attending_activity, [['Immediately', 1], ['Daily', 2], ['Weekly', 3], ['Never', 0]]%>
              </td>
            </tr>
            <tr>
              <td width="100%">
                <%= ns.label 'Summary of upcoming activities and events' %>
              </td>
              <td>
                <%= ns.select :activity_summary, [['Daily', 2], ['Weekly', 3], ['Never', 0]]%>
              </td>
            </tr>

            </table>
            <%= ns.submit 'Save', class: 'btn btn-primary' %> </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
