<div class="container">
  <div class="row">
    <%= render 'edit_nav' %>
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-md-9"> <%= form_for @user, url: profile_update_password_path(@user), html: {class: "form form-horizontal"} do |u| %>
            <div class="form-group"> <%= u.label :password, class: "col-sm-4 control-label" %>
              <div class="col-sm-3"> <%= u.password_field :password, class: "form-control" %> </div>
            </div>
            <div class="form-group"> <%= u.label :confirm_password, class: "col-sm-4 control-label" %>
              <div class="col-sm-3"> <%= u.password_field :password, class: "form-control" %> </div>
            </div>
            <hr>
            <div class="form-group"> <%= u.label :current_password, class: "col-sm-4 control-label" %>
              <div class="col-sm-3"> <%= u.password_field :current_password, class: "form-control" %> </div>
            </div>
            <%= u.submit 'Update', class: 'btn btn-primary' %> </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>