<div class="container-fluid">
	<div class="row" style="margin-top:0px">
		<div style="background-color:#333;height:275px">
        <% if !current_user.nil? && (current_user != @profile) then %>
          <div class="pull-right" style="width:230px;"><font size="+1"><%= link_to "Send #{@profile.profile.first_name} a message", '#', class: 'label', id: 'messageMe'  %></font>
            <div id="draggable" style="display:none;padding:0px;margin:0px;" class="pull-right">
              <%= render '/conversations/form_im', :recipient => @profile%></font>
            </div>
          </div>
        <% end %>
			<div class="col-md-6 col-md-offset-3">
				<div class="text-center" style="margin-top:30px;color:#FFF;">
					<%= profile_img(@profile) %>
            <h2 style="color:white"><strong><%= @profile.profile.first_name %> <%= @profile.profile.last_name %></strong></h2> 
            <p><%= @profile.profile.about_me %></p>
            <% if !current_user.nil? && (current_user != @profile) then %>
            <h3>
              <%= current_user.following?(@profile) ? (link_to 'Unfollow', unfollow_path(@profile.id), class: 'label label-info') : (link_to 'Follow', follow_path(@profile.id), class: 'label label-info') %>
            </h3>
            <% end %>
				</div>
			</div>
		</div>
	</div>
<% if user_signed_in? %>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="text-center">
			<ul class="nav nav-pills nav-justified">
		      <li id="profile_activities" class="active">
						<%= link_to 'Activities', @profile.id.to_s+'/activities_profile', :remote => true %>
					</li>
		      <li id="profile_attending">
						<%= link_to 'Attending', @profile.id.to_s+'/attending_profile', :remote => true %>
					</li>
		      <li id="profile_followers">
						<%= link_to 'Followers', @profile.id.to_s+'/followers_profile', :remote => true %>
					</li>
		      <li id="profile_following">
						<%= link_to 'Following', @profile.id.to_s+'/following_profile', :remote => true %>
					</li>
		    </ul>
			</div>
		</div>
	</div>
<% end %>
	<div class="row">
		<div id="profile_data" class="col-md-8 col-md-offset-2" style="margin-top:50px">
			<%= render '/activities/activities' %>
		</div>
	</div>
</div>



<script>
  $(function() {
    $( "#draggable").draggable();
    $( "#draggable").resizable();

    $('#messageMe').bind('click', function(e){
      $('#draggable').is(':visible')?  $('#draggable').hide(): $('#draggable').show();
      e.preventDefault();
    });
  });
</script>


<style type="text/css">
	.navbar {margin-bottom: 0;}

	body {
		background-color: white;
	}

	.nav-pills { 
		margin-top: 10px;
		color: black;
	}

	.nav-pills > li > a {
		color: #777;
		border: 1px solid #ddd;
		margin-left:15px;
		margin-right:15px;
		padding:5px 0px 5px 0px;

	}

  #draggable {
    width: 200px;
    padding: 0.5em;
    z-index:100;
    position:absolute;
    background-color:white;
  }

</style>
