<div class="alert alert-warning fade in" style="display:none" id="needLogInAlert">
  <button class="close" data-dismiss="" id="closeNeedLogInAlert">x</button>
  You need to sign in or sign up to perform that action.
</div>
<div class="container-fluid">
  <div class="row" style="margin-top:0px">
    <div style="background-color:#333;height:285px">
      <div class="col-md-6 col-md-offset-3">
        <div class="text-center" style="margin-top:15px;color:#FFF;">
          <%= profile_img(@user) %>

          <h2 style="color:white; margin-top:20px">
            <strong><%= ProfileDecorator.new(@user.profile).display_name %></strong>
          </h2>
          <p>
            <%= "#{@user.profile && @user.profile.city}, #{@user.profile && @user.profile.state}" %>
            <% if @user.profile && @user.profile.neighborhood.present? %>
              <%= "(#{@user.profile && @user.profile.neighborhood})" %>
            <% end %>
          </p>

          <p><%= @user.profile.about_me %></p>

          <p class="interests-small"><%= interests_tag(@user) %></p>

          <% if !current_user.nil? && (current_user != @user) then %>
              <h3>
                <%= current_user.following?(@user) ? (link_to 'Unfollow', unfollow_path(@user.id), class: 'label label-info') : (link_to 'Follow', follow_path(@user.id), class: 'label label-info') %>
                <div id="profile-im" style="display:inline-block;cursor: pointer; cursor: hand;" class="im-container"
                     alink="Send <%= @user.profile.first_name %> a message"
                     recipient="<%= @user.id %>" recipient_firstname="<%= @user.profile.first_name %>" recipient_lastname="<%= ProfileDecorator.new(@user.profile).last_initial %>"
                     sender="<%= current_user.id %>" sender_firstname="<%= current_user.profile.first_name %>" sender_lastname="<%= ProfileDecorator.new(current_user.profile).last_initial %>">
                </div>
                <script>
                    (function () {
                        $('#profile-im').bind('on_init_complete', function () {
                            $('#profile-im #messageMe').addClass('label label-info');
                        });
                    })();
                </script>
              </h3>
          <% else %>
              <a id="messageMe" class="messageMe label label-info" style="display:inline-block;cursor: pointer; cursor: hand;">Follow</a>
              <a id="followMe" class="messageMe label label-info" style="display:inline-block;cursor: pointer; cursor: hand;">Send <%= @user.profile.first_name %> a
                message</a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <% if user_signed_in? %>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="text-center">
            <ul class="nav nav-pills nav-justified">
              <li id="profile_activities" class="active">
                <%= link_to 'Activities', @user.id.to_s+'/activities_profile', :remote => true %>
              </li>
              <!--<li id="profile_attending">-->
                <!--<%#= link_to 'Attending', @user.id.to_s+'/attending_profile', :remote => true %>-->
              <!--</li>-->
              <li id="profile_followers">
                <%= link_to 'Followers', @user.id.to_s+'/followers_profile', :remote => true %>
              </li>
              <li id="profile_following">
                <%= link_to 'Following', @user.id.to_s+'/following_profile', :remote => true %>
              </li>
              <!--<%# if current_user.id == @user.id %>-->
                  <!--<li id="profile_people">-->
                    <!--<%#= link_to 'Cool People', current_user.id.to_s+'/people_profile', :remote => true %>-->
                  <!--</li>-->
              <!--<%# end %>-->
            </ul>
          </div>
        </div>
      </div>
  <% end %>
  <div class="row">
    <div id="profile_data" class="col-md-8 col-md-offset-2" style="margin-top:50px">
      <%= render '/activities/activities' %>
    </div>
  </div>
</div>

<style type="text/css">
    .navbar {
        margin-bottom: 0;
    }

    body {
        background-color: white;
    }

    .nav-pills {
        margin-top: 10px;
        color: black;
    }

    .nav-pills > li > a {
        color: #777;
        border: 1px solid #ddd;
        margin-left: 15px;
        margin-right: 15px;
        padding: 5px 0px 5px 0px;

    }

    #draggable {
        width: 200px;
        padding: 0.5em;
        z-index: 100;
        position: absolute;
        background-color: white;
    }

    #messageMe {
        color: #FFF;
        text-decoration: none;
    }

    #messageMe:visited {
        color: #FFF;;
        text-decoration: none;
    }

    #messageMe:hover {
        color: #FFF;
        text-decoration: none;
    }

    #followMe {
        color: #FFF;
        text-decoration: none;
    }

    #followMe:visited {
        color: #FFF;;
        text-decoration: none;
    }

    #followMe:hover {
        color: #FFF;
        text-decoration: none;
    }

</style>

<% if current_user.nil? %>
    <script>
        $(function () {
            $('#messageMe').click(function (e) {
                e.preventDefault();
                showAlert();
            });
            $('#followMe').click(function (e) {
                e.preventDefault();
                showAlert();
            });

            $('#closeNeedLogInAlert').click(function(){
                $('#loginToLike').hide();
            })

        })
        function showAlert() {
            $('#needLogInAlert').show();
        }

    </script>
<% end %>
