<style type="text/css">
  .footer span {
    padding:1%;
    color: #888888;
    font-size: 14px;
  }

  .footer > span > a:link {
    color: #888888;
  }

  .footer > span > a:hover {
    color: #000000;
    text-decoration: none;
  }

  .footer > span > a:visited {
    color: #888888;
  }
</style>

<div class="text-center" style="background-color: #ffffff; line-height: 50px; margin-top:25px">
  <div class="footer">
    <span>&copy;2015 TwoNoo, LLC</span>
    <span><%= link_to "About", about_path %></span>
    <span><%= link_to "Contact", contact_path %></span>
    <span><%= link_to 'Terms', terms_path, target: '_blank' %></span>
    <span><%= link_to 'Privacy', privacy_path, target: '_blank' %></span>
  </div>
</div>

<% unless @activity %>
<%= render partial: '/welcome/invite_people' if current_user %>
<% end %>
<%= render partial: '/company/feedback' %>