<div class="text-center" style="padding-bottom:15px">
    &copy;2014 TwoNoo, LLC
    |
    <%= link_to "About", about_path %>
    |
    <%= link_to "Contact", contact_path %>
    |
    <%= link_to 'Terms', terms_path, target: '_blank' %>
    |
    <%= link_to 'Privacy Policy', privacy_path, target: '_blank' %>
    |
    <script type="text/javascript" src="https://seal.websecurity.norton.com/getseal?host_name=www.twonoo.com&amp;size=XS&amp;use_flash=NO&amp;use_transparent=NO&amp;lang=en"></script>
    &nbsp;
          <div class="fb-like" data-href="https://www.facebook.com/pages/Twonoo/652492941462596" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"
          style="padding: 0px; vertical-align: top; height: 20px;"></div>
          <div class="g-plusone"
            data-height="20"
            data-width="64">
          </div>
</div>

<% unless @activity %>
<%= render partial: '/welcome/invite_people' if current_user %>
<% end %>
<%= render partial: '/company/feedback' %>
