<header>
  <%= link_to image_tag("TwoNooLogo-HandDrawn.jpg", alt: "TwoNoo", class: "logo"), '/', id: "logo" %>
  <% if (yield(:title) == 'SIGN UP') %>
  <% else if signed_in? %>
    <div id="user"><%= link_to current_user.UserId, current_user %>  | <%= link_to "Sign out", signout_path, method: "delete" %><div>
    <div class="counts">17 </div> Credits</div></div>
  <% else %>
  <div class="SignIn">
    <%= form_for(:session, url: sessions_path) do |f| %>
      <%= f.text_field :UserId, placeholder: "Username", size: 25 %>
      <p>
      <%= f.password_field :password, placeholder: "Password", size: 15, maxlength: 25 %>
      <%= f.submit "Sign in", class: "signin" %>
      </p>
      <input type="checkbox" name="StaySignedIn" value="StaySignedIn"/>Stay signed in
    <% end %>
    <div class="forgotpassword">
      <a href="javascript:alert('Bummer! That sucks.)">Forgot password</a>
    </div>
    </div>
  <% end %>
<% end %>
</header>