<div class="col-md-4">
  <div class="panel">
    <ul class="nav list-group">
      <%= link_to "<li class='list-group-item'><span class='badge pull-right'>#{current_user.activities.upcoming.count}</span>My Activities</li></li>".html_safe, user_activities_path(current_user.id) %>
      <%= link_to "<li class='list-group-item'><span class='badge pull-right'>#{Activity.upcoming.where("id in (?)", Rsvp.where(user_id: current_user.id).pluck(:activity_id)).count}</span>I'm Attending</li></li>".html_safe, attending_activities_path(current_user.id) %>
      <%= link_to "<li class='list-group-item'><span class='badge pull-right'>#{current_user.followers.count}</span>Followers</li></li>".html_safe, profile_followers_path(current_user) %>
      <%= link_to "<li class='list-group-item'><span class='badge pull-right'>#{current_user.followed_users.count}</span>Following</li></li>".html_safe, profile_following_path(current_user) %>
      <%= link_to "<li class='list-group-item'><span class='people_counter badge pull-right'>#{current_user.recommended_followers.count}</span>People You Know</li></li>".html_safe, people_path %>
      <%= link_to "<li class='list-group-item'><span class='badge pull-right'>#{current_user.alerts.count}</span>My Alerts</li></li>".html_safe, alerts_path %>
    </ul>
  </div>
</div>
