<ul class="nav navbar-nav pull-right collapse navbar-collapse">
  <% if request.original_url == root_url %>
  <li><%= link_to 'Invite Friends', '#', id: 'invite', style: 'background-color:#0099FF; color:#FFF', title: "Earn referral credit!", rel: "tooltip" %></li>
  <script>
    $('#invite').bind('click', function () {
      $('#invite_people_form').modal('show');
    });
  </script>
  <% else %>
  <li><%= link_to "Create Activity", new_activity_path, style: 'background-color:#0099FF; color:#FFF' %></li>
  <li><%= link_to 'Home', root_path %></li>
  <% end %>
  <li><%= link_to "Feedback", '#', class: 'feedback' %></li>
  <li><a href="/credits/purchase">Credits
    <span class="badge"><%= Transaction.get_balance(current_user) if current_user %></span></a></li>

    <li class="dropdown wide" id="notifications_menu">
      <a href="#" id="notifications_link" class="dropdown-toggle" data-toggle="dropdown">Notifications

        <% if num_notifications  > 0%>
        <span class="red_badge" id="notifications_badge"><%= num_notifications %></span>
        <% else %>
        <span class="badge" id="notifications_badge"><%= num_notifications %></span>
        <% end %>

      </a>
      <style>
        #notifications_dropdown, #messages_dropdown {
          overflow-y: hidden;
          overflow-x: hidden;
          font-size: .9em;
        }

        #notifications_dropdown:hover, #messages_dropdown:hover {
          overflow-y: auto;
        }
      </style>
      <ul class="dropdown-menu" id="notifications_dropdown" style="width:300px;max-height:300px;">
        <%= div_for(current_user.mailbox.notifications({:read => false}), style: 'word-wrap: break-word; width: 280px; margin-left: 5px;') do |notif| %>
        <b><%= notif.subject %>:</b> <%= notif.body.html_safe %>
        <li class="divider"></li>
        <% end %>
      </ul>
    </li>

    <li class="dropdown wide" id="messags_menu">
      <a href="/conversations" id="messages_link"><i class="fa fa-envelope fa-lg" style='display:inline-block'></i>
        <% if current_user.mailbox.inbox({:read => false}).count > 0%>
        <span class="red_badge" id="messages_badge"><%= current_user.mailbox.inbox({:read => false}).count %></span>
        <% else %>
        <span class="badge" id="messages_badge">0</span>
        <% end %>
      </a>
    </li>

    <li class="dropdown wide">
      <a href="/people">People You Know
        <% if current_user.recommended_followers.count > 0%>
        <span class="people_counter red_badge" id="people_badge"><%= current_user.recommended_followers.count %></span>
        <% else %>
        <span class="people_counter badge" id="people_badge">0</span>
        <% end %>
      </a>
    </li>

    <li class="dropdown wide">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <%= profile_img_small(current_user) %> <%= current_user.profile.first_name %>
        <b class="caret"></b></a>
        <ul class="dropdown-menu wide">
          <li><%= link_to 'My Profile', profile_path(current_user) %></li>
          <li><%= link_to 'My Activities', user_activities_path(current_user.id) %></li>
          <li><%= link_to 'Settings', profile_edit_path %></li>
          <li class="divider"></li>
          <li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %> </li>
        </ul>
      </li>

      <li class="narrow"><%= link_to 'My Profile', profile_path(current_user) %></li>
      <li class="narrow"><%= link_to 'Settings', profile_edit_path %></li>
      <li class="narrow"><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %> </li>
    </ul>
