<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head profile="http://www.w3.org/2005/10/profile">
  <link rel="icon"
        type="image/png"
        href="<%= asset_url 'TwoNoo-Logo-compact3.png' %>">
  <!-- Basic Page Needs ================================================== -->
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta name="google-site-verification" content="EiVIH4ce5RGmJBuZIatvMd1DBQyRsmuMOvQRncxitIM"/>
  <meta name="description" content="Find friends and things to do. Meet people and do stuff. Create and Find activities and events.">
  <meta name="author" content="TwoNoo">

  <% if !@activity.nil? && !@activity.id.nil? %>
      <meta property="og:url" content="<%= activity_url(:id => @activity.id) %>"/>
      <meta property="og:title" content="<%= @activity.activity_name %>"/>
      <meta property="og:description" content="<%= @activity.description %>"/>
      <% if @activity.image.exists? %>
          <meta property="og:image" content="<%= root_url %><%= @activity.image.url %>"/>
      <% else %>
          <meta property="og:image" content="<%= asset_url 'TwoNoo-Logo.png' %>"/>
      <% end %>
  <% else %>
      <% if user_signed_in? %>
          <meta property="og:url" content="<%= new_user_registration_url(:referrer => current_user.id) %>"/>
      <% else %>
          <meta property="og:url" content="<%= root_url %>"/>
      <% end %>
      <meta property="og:description" itemprop="description" content="Find friends and things to do. Meet people and do stuff. Create and Find activities and events."/>
      <meta property="og:title" content="TwoNoo - Meet People. Do Stuff."/>
      <meta property="og:image" content="<%= asset_url 'TwoNoo-Logo.png' %>"/>
  <% end %>

  <%= csrf_meta_tags %>
  <title><%= @title ? @title : 'TwoNoo - Meet People. Do Stuff.' %></title>

  <!-- Mobile Specific Metas ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- Stylesheets ================================================== -->
  <%= stylesheet_link_tag 'application', media: 'all' %>

  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->

  <!-- web font  -->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800" rel="stylesheet" type="text/css">

  <%= javascript_include_tag 'application' %>
  <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
  <script>
      $(document).ready(function () {
          $(function () {
              console.log('getting google stuff');
              var script = document.createElement('script');
              script.type = 'text/javascript';
              script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&' +
                      'callback=initialize';
              document.body.appendChild(script);
              console.log('done getting google stuff');
          });

          (function (d, s, id) {
              var appId = '<%= ENV['FACEBOOK_KEY'] %>';
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s);
              js.id = id;
              js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=" + appId + "&version=v2.0";
              fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));

          $(function () {
              $('.navbar-toggle').click(function () {
                  var buttons = $('navbar-toggle');
                  console.log("buttons", buttons);
                  console.log("buttons", $(this).get(0));

                  $(this).siblings('.navbar-toggle:not(.collapsed)').click();
              });

          });
      });
  </script>
</head>
<body>

<div id="fb-root"></div>

<!-- header -->
<header id="mainHeader" class="navbar-fixed-top" role="banner">
  <div class="container-fluid">
    <ul id="mobile-nav" class="navbar-toggle collapsed">
      <li id="my-stuff">
        <% if current_user.present? %>
            <a href="<%= user_activities_path(current_user) %>">
              <span class="glyphicon glyphicon-user"></span>MY STUFF
            </a>
        <% else %>
            <a href="<%= user_session_path %>">
              <span class="glyphicon glyphicon-user"></span>MY STUFF
            </a>
        <% end %>
      </li>

      <li id="create"><a href="<%= activities_new_path %>"><span class="icon glyphicon glyphicon-plus"></span>CREATE
      </a></li>

      <li id="activities"><a href="<%= root_path %>"><span class="icon fa fa-users"></span>ACTIVITIES
      </a></li>

      <li id="messages">
        <a href="<%= conversations_path %>"><span class="icon glyphicon glyphicon-envelope"></span><!--MESSAGES-->
          <% if num_inbox > 0 %>
              <span class="counter"><%= num_inbox > 99 ? "*" : num_inbox %></span>
          <% end %>
        </a></li>

      <li id="alert" class="dropdown">
        <a href="<%= notifications_mobile_path %>"><span class="icon fa fa-bell"></span><!--ALERTS-->
          <% if num_notifications > 0 %>
              <span class="counter"><%= num_notifications > 99 ? "*" : num_notifications %></span>
          <% end %>
        </a>
        <!--
        <% if current_user.present? %>
                  <ul class="dropdown-menu pull-right" id="notifications_dropdown_mobile" style="width:300px;max-height:300px;">
                    <%= div_for(current_user.mailbox.notifications({:read => false}), style: 'word-wrap: break-word; width: 280px; margin-left: 5px;') do |notif| %>
                        <b><%= notif.subject %>:</b> <%= notif.body.html_safe %>
                        <li class="divider"></li>
                    <% end %>
                  </ul>
                <% end %>
                -->
      </li>

      <li id="menu">
        <a href="#" data-toggle="collapse" data-target=".navbar-ex1-collapse"><span class="fa fa-bars"></span></a></li>
    </ul>
    <% unless current_user.present? %>
        <ul id="mobile-signup-signin" class="navbar-toggle collapsed">
          <li id="sign-up"><a href="<%= new_user_registration_path %>">SIGN UP</a></li>
          <li id="sign-in"><a href="<%= user_session_path %>">SIGN IN</a></li>
        </ul>
    <% end %>
    <nav class="navbar navbar-default scrollMenu" role="navigation">
      <div class="navbar-header">
        <!--<button id="main_menu" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-ex1-collapse" style="width:40px;height:34px;"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>-->
        <!--
        <% if current_user.present? %>-->
            <!--<button id="notifications_mobile" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-ex2-collapse" style="font-size:.8em;width:40px;height:34px;padding:0px;vertical-align:middle;"> <span class="sr-only">Toggle navigation</span><span class="glyphicon glyphicon-exclamation-sign"></span><span class="badge" id="notifications_badge_mobile" style="font-size:.5em;"><%= current_user.mailbox.notifications({:read => false}).count %></span></button>-->
            <!--<button id="messages_mobile" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-ex3-collapse" style="font-size:.8em;width:40px;height:34px;padding:0px;vertical-align:middle;"> <span class="sr-only">Toggle navigation</span><span class="glyphicon-envelope"></span><span class="badge" id="messages_badge_mobile" style="font-size:.5em;"><%= current_user.mailbox.inbox({:read => false}).count %></span></button>-->
            <!--
        <% end %>-->
        <a class="collapse navbar-collapse navbar-brand" href="/"><img class="logo" height="35px" src="<%= asset_path 'main-logo-dash.png' %>"></a>
      </div>
      <div class="collapse navbar-collapse navbar-ex1-collapse" id="scrollTarget" style="height: 1px;">
        <%= current_user ? render('layouts/signed_in_nav') : render('layouts/sign_in_nav') %>
        <%= render "layouts/mobile_nav" %>
      </div>
      <!--
      <% if current_user.present? %>-->
          <!--  <%= render partial: '/notifications/notifications_mobile' %>-->
          <!--
      <% end %>-->
      <!--
      <% if current_user.present? %>-->
          <!--  <%= render partial: '/messages/messages_mobile' %>-->
          <!--
      <% end %>-->
    </nav>
  </div>
</header>
<!-- header -->
<% unless current_user.present? %>
    <div id="mobile-signup-signin-space" class="navbar-toggle collapsed">
      &nbsp
    </div>
<% end %>

<div style="">
  <%= flash_messages %>
  <%= yield %>
</div>
<%= render 'layouts/footer' %>

<% if current_user.present? %>
    <%= hidden_field_tag :subscription_id, Digest::SHA1.hexdigest("#{current_user.id}#{WEB_SOCKET_CIPHER}"), id: 'subscription_id' %>
<% end %>

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-55676731-1', 'auto');
    ga('send', 'pageview');
    <% if params[:terms] %>
    ga('send', 'pageview', '/search_results.php?q=<%=params[:terms]%>');
    <% end %>
</script>
</body>
</html>
